-var sitio = "Titulo-Descripcion"
-var titulo = "HAYDUK"
-var descripcion = "Titulo-Descripcion"
-var paginaActual = "home"

-var autor= 'La Agencia - la-agencia.pe'
-var theme_color = '#071f48'

// VALIDATION WITH LOGOS
-var show_logos= true


// DATA COUNTRY
-var america_paises= ["Canadá","Estados Unidos","México","Cuba","Costa Rica","Panamá","Rep. Dominicana","Ecuador","Venezuela","Brasil","Chile","Argentina","Perú","Honduras","Colombia"]

-var europa_paises= ["Noruega","Polonia","Holanda","Reino Unido","Bélgica","Italia","Alemania","España","Portugal","Letonia","Lituania","Ucrania","Turquia","Rusia","Dinamarca","Países Bajos","Bulgaria","Francia"]

-var asia_paises= ["China","Tailandia","Japón","Corea del Sur","Taiwán","Vietnam","Indonesia","Corea","India"]

-var africa_paises= ["Togo","Ghana","Nigeria","Camerún","Egipto","Sudáfrica","Mozambique","Marruecos","Cabo Verde"]

-var oceania_paises= ["Australia"]



// TERMINOS Y CONDICIONES
-
  var list_items_terms = [
    {title: "Datos de identificación", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Acceso y aceptación del usuario", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Servicios ofrecidos por el sitio web o la aplicación", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Uso del sitio web o la aplicación", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Registro y responsabilidad por contraseñas", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Propiedad intelectual", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Contenido generado por el usuario", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Enlaces de terceros", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Limitación de responsabilidad e indemnidad", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Datos de carácter personal", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Fuerza mayor", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Libro de reclamaciones", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Autoridades y requerimientos legales", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Inexistencia de sociedad o relación laboral", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
    {title: "Ley aplicable y jurisdicción", description: "Usted está visitando el Portal de la Corporación Hayduk (el “Sitio Web o la Aplicación”), de titularidad de PESQUERA HAYDUK S.A., con R.U.C. N°20136165667 con domicilio en Av. Manuel Olguín 501, Santiago de Surco, provincia y departamento de Lima (“Corporación Hayduk”)."},
  ]
