extends ../templates/template

append config
  -titulo = "NOSOTROS"
  -paginaActual = "about"
  -show_logos= false

block main

    //- section.section-info-icons.py-5.mt-5
    section.section-info-about.pt-5.mt-2.d-flex.justify-content-center
        div.section-box-about.text-justify
            img.img-bg.img-bg__solido-about(src="./img/home/img/solido.png", alt="")
            img.img-bg.img-bg__table-about(src="./img/about/tabla.png", alt="")
            .text-left.text-box-about
              img.img-bg.img-bg__plato-about(src="./img/about/plato.png", alt="")
              h1.tradeGothic.color1.position-relative NOSOTROS
              hr.raya
              // br
              //- hr.title.ml-2
              p.tradeGothic.color1.text-box.home.text__p.text-justify.text-md-left
                img.logo-blue-intext.logo-blue-intext__hm(src="./img/logo-blue.png", alt="")
                |es una marca <b>creada por y para peruanos</b> dedicada a la pesca, producción y comercialización de conservas de pescado proveniente de nuestro mar con <b>gran valor nutricional,</b> las cuales ofrecemos en una amplia variedad de deliciosas presentaciones. <br><br> Elaboramos conservas a base de especies de nuestro mar, siempre bajo los más <b>altos estándares de calidad</b> y cumpliendo nuestro compromiso con la <b> pesca responsable, el respeto al medio ambiente</b> y con llegar a todos los hogares del Perú brindando nutrición.
              //- .row.mt-5
              //-   .col-xs-8.col-sm-10.col-md-9.col-lg-8
              //-     h1.tradeGothic.color1 BENEFICIOS DE
              //-       img.logo-blue-about(src="./img/logo-blue.png", alt="")
              //-     hr.raya
              .position-relative.mt-5
                h1.tradeGothic.color1.mb-0 BENEFICIOS DE
                  img.logo-blue-about(src="./img/logoBlue.svg", alt="")
                hr.raya

                .nav_slides_ab
                  .nav-item-ab(slide="slide_1")
                    |CALIDAD
                  .nav-item-ab(slide="slide_2")
                    |SABOR
                  .nav-item-ab(slide="slide_3")
                    |NUTRICIÓN
                  .nav-item-ab(slide="slide_4")
                    |PRACTICIDAD
                  .nav-item-ab(slide="slide_5")
                    |ORIGEN
                .slide-ab
                  div(class="slide-ab__item" id="pills-calidad")
                    .row
                      .col-sm-12.col-md-5.mb-3.slide-ab_content-img
                          img.slider-about__img(src="./img/about/s-ab-1.png")
                      .col-sm-12.col-md-7.slide-ab_content-text
                          .slider-about__text
                              h2.color1.tradeGothic
                                b CALIDAD
                              p.text__p.color1.tradeGothic Nos encargamos de todas las etapas del proceso: desde la pesca, pasando por la elaboración, hasta llegar a tu hogar. <br><br>
                              p.text__p.color1.tradeGothic Seleccionamos cuidadosamente todos los productos de nuestra pesca para asegurar un producto de máxima calidad. <br><br>
                              p.text__p.color1.tradeGothic Contamos con importantes certificaciones, como “Dolphin Safe”, que garantizan una labor de pesca responsable.<br><br>
                              img(src="./img/icon/dolphin-transp.png", alt="")
                  div(class="slide-ab__item" id="pills-sabor")
                    .row
                      .col-sm-12.col-md-5.mb-3.slide-ab_content-img
                          img.slider-about__img(src="./img/about/s-ab-2.png")
                      .col-sm-12.col-md-7.slide-ab_content-text
                          .slider-about__text
                              h2.color1.tradeGothic
                                b SABOR
                              p.text__p.color1.tradeGothic Nuestras conservas tienen ese toque especial que tanto nos gusta a los peruanos. <br><br>
                              p.text__p.color1.tradeGothic Son perfectas para preparar los más exquisitos platos de nuestra gastronomía. <br><br>
                  div(class="slide-ab__item" id="pills-nutricion" rol)
                    .row
                      .col-sm-12.col-md-5.mb-3.slide-ab_content-img
                          img.slider-about__img(src="./img/about/s-ab-3.png")
                      .col-sm-12.col-md-7.slide-ab_content-text
                          .slider-about__text
                              h2.color1.tradeGothic
                                b NUTRICIÓN
                              p.text__p.color1.tradeGothic Rico en ácidos grasos y omegas como EPA y DHA. ¡Perfecto para los niños!  <br><br>
                              p.text__p.color1.tradeGothic ¡Recomendado por nutricionistas como parte de una alimentación saludable! <br><br>
                              p.text__p.color1.tradeGothic Un producto natural y sin añadidos artificiales.<br><br>
                  div(class="slide-ab__item" id="pills-practicidad")
                    .row
                      .col-sm-12.col-md-5.mb-3.slide-ab_content-img
                          img.slider-about__img(src="./img/about/s-ab-4.png")
                      .col-sm-12.col-md-7.slide-ab_content-text
                          .slider-about__text
                              h2.color1.tradeGothic
                                b PRACTICIDAD
                              p.text__p.color1.tradeGothic Cuando quieras y donde quieras, Campomar está listo para consumir. <br><br>
                              p.text__p.color1.tradeGothic Disfruta de una comida rápida y deliciosa y dile adiós a la comida chatarra.<br><br>
                  div(class="slide-ab__item" id="pills-origen" )
                    .row
                      .col-sm-12.col-md-5.mb-3.slide-ab_content-img
                          img.slider-about__img2(src="./img/about/s-ab-5.png")
                      .col-sm-12.col-md-7.slide-ab_content-text
                          .slider-about__text
                              h2.color1.tradeGothic
                                b ORIGEN
                              p.text__p.color1.tradeGothic ¡Hecho por peruanos y para peruanos!  <br><br>
                              p.text__p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad.  <br><br>
                              p.text__p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!.<br><br>
                //- span.slider-about__arrows.slider-about__prev.cambiarpestana.tabs-prev(data-accion="prev")
                //- span.slider-about__arrows.cambiarpestana.tabs-next(data-accion="next")
                    .mb-5
    section.mt-lg-4
        .container-fluid
            .container.about
                .text-left
                    h1.tradeGothic.color1.position-relative BENEFICIOS DE CONSUMIR PESCADO
                    hr.raya
                    //- hr.title.ml-2
                .row.row-content-ab
                    .col-md-6.col-lg-3.pl-1.pr-1.mb-md-2
                        .beneficios__colors.bg-ab-orange.text-center
                            img.mb-3.beneficios__img(src="./img/icon/ab-11.png", alt="")
                            p.text__p-2.white <b>Rico en minerales</b> esenciales como el hierro, el magnesio, el fósforo y el potasio.
                    .col-md-6.col-lg-3.pl-1.pr-1.mb-md-2
                        .beneficios__colors.bg-ab-purple.text-center
                            img.mb-3.beneficios__img(src="./img/icon/ab-12.png", alt="")
                            p.text__p-2.white Posee grandes cantidades de yodo, que <b>protege los sistemas nervioso, digestivo y muscular.</b>
                    .col-md-6.col-lg-3.pl-1.pr-1
                        .beneficios__colors.bg-ab-red.text-center
                            img.mb-3.beneficios__img(src="./img/icon/ab-13.png", alt="")
                            p.text__p-2.white Parte importante de una <b>alimentación cardiosaludable.</b>
                    .col-md-6.col-lg-3.pl-1.pr-1
                        .beneficios__colors.bg-ab-green.text-center
                            img.mb-3.beneficios__img(src="./img/icon/ab-14.png", alt="")
                            p.text__p-2.white <b>Posee vitaminas</b> de los grupos A, D y E, y es particularmente rico en las del grupo B.
    section.mt-5
        .container-fluid.pt-lg-5
            .container.about.position-relative
              img.img-bg.img-bg__limon-about(src="./img/about/limon.png", alt="")
              img.img-bg.img-bg__pimenton-about(src="./img/about/pimenton.png", alt="")
              .text-left
                  h1.tradeGothic.color1.position-relative EL PESCADO ES PARA TODOS
                  hr.raya
                  //- hr.title.ml-2
              .row.row-content-ab
                  .col-md-6.col-xl-3.order-md-1.order-lg-1.order-xl-1
                      .beneficios__content.text-center
                          img.beneficios__arrow(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img(src="./img/icon/ab-1.png", alt="")
                          .position-relative.mt-4
                            h4 NIÑOS
                          p.text__p.beneficios__text Ideal para el desarrollo cerebral y aporta nutrientes importantes para el crecimiento.
                  .col-md-6.col-xl-3.order-md-3.order-lg-3.order-xl-2
                      .beneficios__content.text-center
                          img.beneficios__arrow.arrow-end(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img(src="./img/icon/ab-2.png", alt="")
                          .position-relative.mt-4
                            h4 ADOLESCENTES
                          p.text__p.beneficios__text Fundamental para la formación de tejido muscular y ayuda al fortalecimiento de los huesos.
                  .col-md-6.col-xl-3.order-md-2.order-lg-2.order-xl-3
                      .beneficios__content.text-center
                          img.beneficios__arrow(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img.ab-3(src="./img/icon/ab-3.png", alt="")
                          .position-relative.mt-4
                            h4 ADULTOS
                          p.text__p.beneficios__text Perfecto para una buena salud cardiaca, y ayuda controlar los niveles de colesterol y triglicéridos.
                  .col-md-6.col-xl-3.order-md-4.order-lg-4.order-xl-4
                      .beneficios__content.text-center
                          img.beneficios__img.ab-4(src="./img/icon/ab-4.png", alt="")
                          .position-relative.mt-4
                            h4 ADULTOS MAYORES
                          p.text__p.beneficios__text Ayuda a prevenir la aparición de enfermedades cerebrales y fortalece el sistema circulatorio.
    section.sec-3-ab
        .container-fluid
            .container.about
              .text-left
                  h1.tradeGothic.color1.position-relative ¿CÓMO LO HACEMOS?
                  hr.raya
                  //- hr.title.ml-2
              .row.row-content-ab
                  .col-md-6.col-xl-3.order-md-1.order-lg-1.order-xl-1
                      .beneficios__content.text-center
                          img.beneficios__arrow.beneficios__arrow2(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img.ab-5(src="./img/icon/ab-5.png", alt="")
                          .position-relative
                            h4 PESCAMOS
                          p.text__p.beneficios__text Nuestros barcos realizan la pesca en el litoral peruano, respetando todas las regulaciones para <b>preservar el ecosistema marino y sus especies.</b>
                  .col-md-6.col-xl-3.order-md-3.order-lg-3.order-xl-2
                      .beneficios__content.text-center
                          img.beneficios__arrow.beneficios__arrow2.arrow-end(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img.mt-1(src="./img/icon/ab-6.png", alt="")
                          .position-relative.mt-4
                            h4 PRODUCIMOS
                          p.text__p.beneficios__text La pesca es trasladada a nuestras plantas de procesamiento ubicadas en Áncash, donde elaboramos las conservas bajo <b>los más estrictos controles de calidad.</b>
                  .col-md-6.col-xl-3.order-md-2.order-lg-2.order-xl-3.pb-lg-3
                      .beneficios__content.text-center
                          img.beneficios__arrow(src="./img/icon/ab-10.png", alt="")
                          img.beneficios__img.ab-3(src="./img/icon/ab-7.png", alt="")
                          .position-relative.mt-4
                            h4 DISTRIBUIMOS
                          p.text__p.beneficios__text Manteniendo <b>los más altos estándares de calidad,</b> las conservas son almacenadas y luego distribuidas por el país.
                  .col-md-6.col-xl-3.order-md-4.order-lg-4.order-xl-4
                      .beneficios__content.text-center
                          img.beneficios__img.ab-4(src="./img/icon/ab-8.png", alt="")
                          .position-relative.mt-4
                            h4 DISFRUTAMOS
                          .text-center
                            p.text__p.mr-0.color1.tradeGothic Finalmente, nuestras Conservas
                              img.logo-blue-intext.logo-blue-intext__hm.ml-1(src="./img/logo-blue.png", alt="")
                              |<b>están presentes en las mesas de todos los peruanos</b> llevando calidad y nutrición. ¡Disfrútalas en deliciosos platos que también tú puedes preparar!.
    section.mt-5
        .container-fluid.pt-lg-2
            .container.about.position-relative
              img.img-bg.img-bg__perejil-about(src="./img/about/perejil.png", alt="")
              .text-left
                  h1.tradeGothic.color1.position-relative ¿DÓNDE ESTAMOS?
                  hr.raya
                  //- hr.title.ml-2
              .row.de-flex.justify-content-left.mt-3
                  .col-sm-12.col-md-6.col-lg-4.col-xl-3.pl-1.pr-1.pc-version
                      img.img-latas-ab(src="./img/icon/ab-9.png", alt="")
                  .col-sm-12.col-md-6.col-lg-3.pl-1.pr-1.d-flex.justify-content-center.mobile-version
                      img(src="./img/icon/ab-9.png", alt="")
                  .col-sm-12.col-md-6.col-lg-7
                      .cont.pt-3
                        p.text__p.tradeGothic.color1.text-latas-ab.text-justify.text-md-left
                          img.logo-blue-intext.logo-blue-intext__hm(src="./img/logo-blue.png", alt="")
                          |es una marca creada para todos los peruanos. Por eso, encuéntranos en todos los mercados mayoristas, bodegas y tus lugares de compra favoritos. ¡Llevemos juntos calidad y nutrición a todos los hogares del Perú!
    hr.transparent
