extends ../templates/template

append config
  -titulo = "BLOG"
  -paginaActual = "blog"
  -show_logos= false

block main

    //- section.section-info-icons.py-5.mt-5
    section.section-info-icons.py-5.mt-5
      .container-fluid.d-flex.justify-content-center
        div.section-box-blog.p-3.text-justify
            img.img-bg.img-bg__salad-blog(src="./img/blog/plato-blog2.png", alt="")
            img.img-bg.img-bg__trozos-blog(src="./img/blog/trozos.png", alt="")
            img.img-bg.img-bg__sda-blog(src="./img/blog/sda-blog2.png", alt="")
            .text-justify.text-box-blog
              h1.tradeGothic.color1.position-relative BLOG SALUDABLE
              hr.raya
            span.d-flex.justify-content-center.position-relative
                img.img-text-pro(src="./img/blog/text.svg", alt="")
            .row.pt-5
                .col-2
                .col-8
                    p.text__p.tradeGothic.color1.mb-5 Con
                      img.logo-blue-box-product(src="./img/logo-blue.png", alt="")
                      |nos preocupamos por ofrecer a todos los peruanos <b>productos de calidad altamente nutritivos.</b> Por eso, queremos compartir algunos artículos sobre cómo llevar una vida y una alimentación saludables, así como contenidos sobre los productos que elaboramos.<br><br> ¡Inspírate y acompáñanos en nuestra tarea de <b>mejorar la alimentación de todos los peruanos!</b> Revisa las siguientes notas y artículos:
    section.mb-5.position-relative
      img.img-bg.img-bg__tomate-rec(src="./img/recipes/tomate2.png", alt="")
      img.img-bg.img-bg__lata-blog(src="./img/blog/lata-blog2.png", alt="")
      .container-fluid
        .container.recipes-sec
          .row.d-flex.justify-content-center
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide1.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#1") ver más
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide2.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#2") ver más
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide3.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#3") ver más
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide4.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#4") ver más
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide5.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#5") ver más
            .col-xs-8.col-sm-6.col-md-6.col-lg-4
              .blog-content
                .slide-img
                  img(src="./img/home/slide/slide6.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1
                    a(href="blog-page.html#6") ver más
    hr.transparent
