extends ../templates/template

append config
  -titulo = "BLOG-PAGES"
  -paginaActual = "blog-page"
  -show_logos= false

block main

    //- section.section-info-icons.py-5.mt-5
    section.section-info-icons.py-5.mt-5.mb-5
        div.section-box-blog.p-3.text-justify
            img.img-bg.img-bg__salad-rec(src="./img/recipes/salad.png", alt="")
            img.img-bg.img-bg__cebolla-rec(src="./img/recipes/cebolla.png", alt="")
            //- img.img-bg.img-bg__plato-rec(src="./img/recipes/plato1.png", alt="")
            //- img.img-bg.img-bg__lata-rec(src="./img/recipes/lata.png", alt="")
            //- img.img-bg.img-bg__limon-rec(src="./img/recipes/limon.png", alt="")
            .text-justify.text-box-product
                h1.tradeGothic.color1.position-relative RECETAS
                hr.raya
                span.d-flex.justify-content-center.position-relative
                    img.img-llevamos(src="http://via.placeholder.com/1300x400", alt="")
                .row.pt-5.pb-5
                    .col
                        span.tradeGothic.color1 
                            |Si la respuesta es no, esta nota es para ti.
                            br
                            br
                            |Aprender a comer es una etapa en la vida de un niño y, por eso, debe sentir una actitud positiva por parte de sus padres: ¡más aún cuando se trata del pescado! El niño debe estar predispuesto a este alimento y nunca debe ser utilizado como castigo. 
                            br
                            br
                            |Que los hijos aprendan a comer pescado puede resultar una tarea complicada, pero para hacerla más sencilla es recomendable seguir los siguientes consejos:
                            br
                            br
                        ul.ul-recipes
                            li No debe tener espinas. Esta es la principal razón por la cual a los niños no les gusta el pescado. Es mejor prepararlo en filetes o en lomos.
                            li Disimular el sabor. Algunos pescados tienen un sabor muy fuerte que termina siendo desagradable para el paladar delicado de un niño. Para esto se puede utilizar limón o diferentes salsas o preparaciones.
                            li No volverlo repetitivo. Los niños suelen aburrirse de comer siempre lo mismo, más aún si no es de su completo agrado. Es recomendable utilizar recetas divertidas con formas o combinar el pescado con el plato favorito del niño.
                            li Empezar cuanto antes. Mientras más temprano empiecen a comer pescado más rápido se van a acostumbrar al sabor.
                        span.mt-5.mb-5.d-flex.justify-content-end
                            | Regresar