extends ../templates/template

append config
  -titulo = "CONTACTO"
  -paginaActual = "contact"
  -show_logos= false

block main

  //- section.section-info-icons.py-5.mt-5
  section.py-5.mt-5
    .container-fluid.d-flex.justify-content-center
      .section-box-cont.p-3.text-center
        img.img-bg.img-bg__salad(src="./img/contact/salad.png", alt="")
        img.img-bg.img-bg__plato(src="./img/contact/plato.png", alt="")
        img.img-bg.img-bg__table(src="./img/contact/table.png", alt="")
        .text-justify.text-box-cont
          h1.tradeGothic.color1.position-relative CONTÁCTANOS
          hr.raya
        .content-box-contact
          span.d-flex.justify-content-center
            img.img-box-contact(src="./img/contact/ini.png", alt="")
          //- h1 Nutrición del mar <br> peruano a tu hogar .text-center
          .row.mb-5.mt-3
            .col-sm-10.offset-sm-2.col-md-8
              .text-justify.text-box-home.text-justify
                p.tradeGothic.color1.text-box.home.text__p.text-left
                  img.logo-blue-intext.logo-blue-intext__hm(src="./img/logo-blue.png", alt="")
                  |es una marca creada por peruanos y para peruanos. Por esa razón, el contacto con la gente es muy importante para nosotros.
                br
                p.tradeGothic.color1.text-box.home.text__p.text-left Si tienes un negocio y quieres distribuir productos
                  img.logo-blue-intext.logo-blue-intext__hm.ml-1(src="./img/logo-blue.png", alt="")
                  |o simplemente dejar algún comentario, te invitamos a llenar el siguiente formulario y a ayudarnos a seguir creciendo.
  .contact-content
    section.section-form
      .container-fluid.mt-5
        .container.contact-section-title
          h1.tradeGothic.color1 ¿POR QUÉ TE GUSTARÍA CONTACTARNOS?
          hr.raya

    section.contact-section
      .container-fuid
        .container
          <div id="accordion">
            <div class="card-contact mb-4">
              .row
                .col-md-8.col-lg-7.container-btn-contact.pr-0
                  <div class="card-header-1" id="headingOne">
                    div(class="btn white pointer btn-contact__contenedor d-flex align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                      .btn-recipes__cont-img
                        img(src="./img/icon/cont-1.png", alt="")
                      i.fa.fa-chevron-circle-down.btn-recipes__fa
                      h5.mb-0 Quiero dar un comentario
                  </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  form#comments
                    img.img-bg.img-bg__ajies(src="./img/contact/ajies.png", alt="")
                    img.img-bg.img-bg__limon(src="./img/contact/limon.png", alt="")
                    .form-row.d-flex.justify-content-center
                      .form-group.col-md-12
                        label( for="inputName") Nombres
                        input(type="text" class="form-control" id="inputName")
                      .form-group.col-md-6
                        label( for="inputLastName") Apellido Paterno
                        input(type="text" class="form-control" id="inputLastName")

                      .form-group.col-md-6
                        label(for="InputLasName_m") Apellido Materno
                        input(type="text" class="form-control" id="InputLasName_m")

                      .form-group.col-md-6
                        label( for="inputEmail") E-mail
                        input(type="text" class="form-control" id="inputEmail")

                      .form-group.col-md-6
                        label(for="InputPhone") Teléfono
                        input(type="text" class="form-control" id="InputPhone")

                      .form-group.col-md-6
                        label(for="InputLasAddress") Dirección domiciliaria
                        input(type="text" class="form-control" id="InputLasAddress")
                      .form-group.col-md-6
                      //   label( for="inputArea") ¿Con qué área deseas comunicarte?
                      //   input(type="text" class="form-control" id="inputArea")


                      .form-group.col-md-12
                        label(for="comments") Escríbenos tu comentario
                        textarea(class="form-control" id="comments" rows="3")
                      .form-group.col-md-12
                        .custom-control.custom-checkbox
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">
                            p.tradeGothic Conozco y acepto que he leído el tratamiento de protección de mis datos personales detallado en los términos y condiciones de la página web &nbsp;
                              a.tradeGothic.color1(href="http://clientes.la-agencia.pe/campomar/") www.campomar.com.pe
                      button(type="submit" class="btn btn-contac white tradeGothic") Enviar
                </div>
              </div>
            </div>
            <div class="card-contact">
              .row
                .col-md-8.col-lg-7.container-btn-contact.pr-0
                  <div class="card-header-1" id="headingOne">
                    div(class="btn white pointer btn-contact__contenedor d-flex align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                      .btn-recipes__cont-img
                        img(src="./img/icon/cont-2.png", alt="")
                      i.fa.fa-chevron-circle-down.btn-recipes__fa
                      h5.mb-0 Quiero distribuir productos
                      img.logo-blue-button.ml-2(src="./img/logo.png", alt="")
                  </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  form#distribute.mb-5
                    img.img-bg.img-bg__ajies(src="./img/contact/ajies.png", alt="")
                    img.img-bg.img-bg__limon(src="./img/contact/limon.png", alt="")
                    .form-row.d-flex.justify-content-center
                      .form-group.col-md-12
                        label( for="inputNames") Nombres y Apellidos
                        input(type="text" class="form-control" id="inputNames")
                      .form-group.col-md-6
                        label( for="inputCompany") Nombre de la empresa
                        input(type="text" class="form-control" id="inputCompany")

                      .form-group.col-md-6
                        label(for="InputRuc") RUC
                        input(type="text" class="form-control" id="InputRuc")

                      .form-group.col-md-6
                        label( for="inputEmail") E-mail
                        input(type="text" class="form-control" id="inputEmail")

                      .form-group.col-md-6
                        label(for="InputNumber") Teléfono
                        input(type="text" class="form-control" id="InputNumber")

                      .form-group.col-md-12
                        label(for="comments2") Comentario adicional
                        textarea(class="form-control" id="comments2" rows="3")
                      .form-group.col-md-12
                        .custom-control.custom-checkbox
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label" for="customCheck2">
                            p.tradeGothic Conozco y acepto que he leído el tratamiento de protección de mis datos personales detallado en los términos y condiciones de la página web &nbsp;
                              a.tradeGothic.color1(href="http://clientes.la-agencia.pe/campomar/") www.campomar.com.pe

                      button(type="submit" class="btn btn-contac white tradeGothic") Enviar
                </div>
              </div>
            </div>
          </div>
  hr.transparent.d-none
  hr.transparent
