extends ../templates/template

append config
  -titulo = "INICIO"
  -paginaActual = "home"
  -show_logos= false

block main

  //- section.section-info-icons.py-5.mt-5
  section.section-info-icons.py-5.d-flex.justify-content-center
    .container-fluid
      .rm_container.container
        div.section-box-home.p-3.text-center
          img.img-solido1.img-bg__lata(src="./img/home/img/solido1.png", alt="", data-aos="fade-right")
          img.img-croque(src="./img/home/img/croquetas1.png", alt="", data-aos="fade-left")
          img.img-pimenton(src="./img/home/img/pimenton.png", alt="", data-aos="fade-up-left", data-aos-delay="70")
          img.img-salad(src="./img/home/img/salad1.png", alt="")
          img.img-plato(src="./img/home/img/plato.png", alt="")
          span.d-flex.justify-content-center.mt-5
            img.img-nutri(src="./img/home/nutricion.png", alt="")
          //- h1 Nutrición del mar <br> peruano a tu hogar .text-center
          .row.mt-2
            .offset-md-2.col-md-8
              .text-justify.text-box-home.text-justify-center
                img.logo-blue-intext(src="./img/logo-blue.png", alt="")
                p.tradeGothic.color1.text-box.home es una marca peruana con 15 años en el mercado, es <b>elaborada por y para peruanos</b>, con los mejores estándares de producción locales e internacionales y con insumos de nuestro mar <br>
          span.mt-3.btn.btn-blue.white.tradeGothic.mb-5
            a.white(href="about.html") CONÓCENOS
          //- hr.transparent
  section
    .container-fluid
      .rm_container.container
        .row.d-flex.justify-content-center
          .col-sm-10.col-md-10.col-lg-8.mt-4
            div.section-box-home-blue.text-center.pt-5.position-relative
              img.img-filete.img-bg__lata(src="./img/home/img/filete2.png", alt="")
              img.img-solido-blue.img-bg__lata(src="./img/home/img/solido.png", alt="")
              h4.white.tradeGothic EL PESCADO ES UN ALIMENTO RICO Y NUTRITIVO, IDEAL PARA TODAS LAS ETAPAS DE LA VIDA.
              span.btn.btn-white-home.mt-4.tradeGothic.color1
                a.color1(href="about.html")
                  h4 DESCUBRE NUESTROS PRODUCTOS
              //- h2.white.mt-4 ¡100% peruano!
              span.d-flex.justify-content-center.mt-2
                //- img(src="./img/home/flecha.png", alt="")
                img.img-bg.img-bg__100peru(src="./img/home/100peruano.png", alt="")
              //- .row
              //-   .col
              .text-left.text-box-blue
                img.logo-blue-intext-equipo(src="./img/home/escudo.png", alt="")
                p.tradeGothic.text-box.home.white.pt-3 Auspiciador oficial del <br> Comité Olímpico Peruano
                //- img.w-25.logo-equipo(src="./img/home/escudo.png", alt="")
                //- p.white.tradeGothic Auspiciador oficial del <br> Comité Olímpico Peruan
                //- .col
  section
    .container-fluid
      .container
        div.position-relative
          hr.transparent.mobile-version
          img.img-tomate(src="./img/home/img/tomate.png", alt="",data-aos="fade-right")
          img.img-atun(src="./img/home/img/atun.png", alt="", data-aos="fade-left")
          .d-flex.justify-content-center.mt-10
            div.section-box-home-cel.justify-content-center
              //- div(class="embed-responsive embed-responsive-16by9")
                iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/JUAj31JmUgM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" allowfullscreen)
              .video-content
              img.w-100.pantalla.d-none(src="./img/home/pantalla.png", alt="")
              img(src="", alt="")
              a(data-fancybox="", href="https://www.youtube.com/embed/JUAj31JmUgM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0")
                img.link-pantalla(src="./img/home/icon.png", alt="")
              span.d-flex.justify-content-center.text-pantalla.white.futura(data-fancybox="", href="https://www.youtube.com/embed/JUAj31JmUgM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0") VER VIDEO
              //- span.d-flex.justify-content-center.text-pantalla.white.futura(data-toggle="modal" data-target="#md_video") VER VIDEO
            //-.video
              <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="788.54" height="443" type="text/html" src="https://www.youtube.com/embed/BICqBZ8c5xw?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/es/">Find Out More</a></small></div><div><small><a href="https://misshowtostartablog.com/how-to-configure-your-blog/">https://misshowtostartablog.com/how-to-configure-your-blog/</a></small></div></iframe>
  section
    .container-fluid.mt-5
      //- .col.d-flex.align-self-baseline
        //- .row.section-box-papel.p-3.text-center
      .container
        //- .row.section-box-papel.justify-content-center
        .fondo-row
          .row.pc-version.ml-1
            .col-8
              .row
                .col-6
                  h1.tradeGothic.color1 RECETAS
                  hr.title.ml-2
                  .text-left.float-left
                    p.float-left.mr-2.color1.tradeGothic.recetas Con
                    img.logo-blue-intext1(src="./img/logo-blue.png", alt="")
                    p.color1.tradeGothic.recetas puedes preparar muchos platos deliciosos, desde ensaladas hasta guisos y platos de fondo. ¡Descúbrelos!
                .col-6
                  .contenedor
                    a(href="recipes-entradas.html")
                      img.w-100.pt-1(src="./img/home/sec3-2.png", alt="")
                      .fondo-box-img.fondo-box-img__1
                        .tex-box-img.tradeGothic.white
                          h2 ENTRADAS
                .col-12
                  .contenedor
                    a(href="recipes-snack.html")
                      img.w-100.pt-1(src="./img/home/sec3-3.png", alt="")
                      .fondo-box-img.fondo-box-img__2
                        .tex-box-img.tradeGothic.white
                          h2 NIÑOS &amp; SNACKS
            .col-4.position-relative
              //- img.img-sec3-1.position-absolute(src="./img/home/sec3-1.png", alt="")
              .contenedor.box-index__horizontal
                    a(href="recipes-fondo.html")
                      img.w-100.pt-1(src="./img/home/sec3-1.png", alt="")
                      .fondo-box-img.fondo-box-img__3
                        .tex-box-img.tradeGothic.white
                          h2  PLATOS <br> DE <br> FONDO
          .row.mobile-version
            .col-12
              .row
                .col-12
                  h1.tradeGothic.color1 RECETAS
                  hr.raya
                  .text-justify.float-left
                    p.float-left.mr-2.color1.tradeGothic.recetas Con
                    img.logo-blue-intext1(src="./img/logo-blue.png", alt="")
                    p.color1.tradeGothic.recetas puedes preparar muchos platos deliciosos, desde ensaladas hasta guisos y platos de fondo. ¡Descúbrelos!
                .col-12
                  .contenedor
                    a(href="recipes-entradas.html")
                      img.w-100.pt-1(src="./img/home/sec3-3.png", alt="")
                      .fondo-box-img.fondo-box-img__1
                        .tex-box-img.tradeGothic.white
                          h2 ENTRADAS
                .col-12
                  .contenedor
                    a(href="recipes-snack.html")
                      img.w-100.pt-1(src="./img/home/sec3-3.png", alt="")
                      .fondo-box-img.fondo-box-img__2
                        .tex-box-img.tradeGothic.white
                          h2 NIÑOS &amp; SNACKS
                .col-12
                  .contenedor
                    a(href="recipes-fondo.html")
                      img.w-100.pt-1(src="./img/home/sec3-3.png", alt="")
                      .fondo-box-img.fondo-box-img__3
                        .tex-box-img.tradeGothic.white
                          h2 ALMUERZOS
              hr.transparent
  section
    .container.position-relative
      img.img-limon(src="./img/home/img/limon.png", alt="")
      img.img-cebolla(src="./img/home/img/cebolla.png", alt="")
      img.img-plato-atun(src="./img/home/img/plato-atun.png", alt="")
      .container
        .row
          .col-8.offset-1.pl-0
            h1.title.tradeGothic.color1 PLATOS DE FONDO
            hr.raya
        .row.d-flex.justify-content-center
          .col-10.mt-5
            .slide-blog
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide1.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide2.png", alt="")
                .slide-text
                  .white.tradeGothic ¿TUS HIJOS <br>COMEN PESCADO?
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide3.png", alt="")
                .slide-text
                  .white.tradeGothic CONSUMIR PESCADO <br> CONTRIBUYE AL ESTADO <br> DE ÁNIMO.
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide4.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide5.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
              .slider-content
                .slide-img
                  img(src="./img/home/slide/slide6.png", alt="")
                .slide-text
                  .white.tradeGothic EL CONSUMO DE PESCADO <br> ES IDEAL PARA DEPORTISTAS
                  span.btn.btn-white-home.mt-1.w-100.tradeGothic.color1  VER MÁS
  section
    .container-fluid.mt-5
      .container
        .row
          .col-sm-12.col-md-6.col-lg-4.offset-lg-1.mb-3
            h1.tradeGothic.color1 REGÍSTRATE
            hr.title.ml-2
          .col-sm-12.col-md-6.col-lg-6.pr-5
            p.tradeGothic.color1.text-mailing Si deseas estar actualizado sobre el contenido que publicamos en nuestro BLOG, suscríbete en nuestra base de datos
            .row.mt-2.pb-2.border-mail
              .col-xs-8.col-md-9.pl-0
                input.input-mailing.ml-0(type="text",placeholder="Ingresa tu correo electrónico ")
              .col-xs-4.col-md-3
                span.btn.btn-blue.white.tradeGothic.mt-1.align-self-end.w-100 ENVIAR
  hr.transparent
    //- <div id="md_video" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    //- <div class="modal-dialog modal-lg modal-dialog-centered">
    //-   <div class="modal-content">
  //-div(class="embed-responsive embed-responsive-16by9",data-fancybox="", href="https://www.youtube.com/embed/JUAj31JmUgM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0")
  //-iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/JUAj31JmUgM?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" allowfullscreen)
