extends ../templates/template

append config
  -titulo = "RECETAS-FONDO"
  -paginaActual = "recipes-fondo"
  -show_logos= false

block main

  //- section.section-info-icons.py-5.mt-5
  section.py-5.mt-5
      .container-fluid.d-flex.justify-content-center
        div.section-box-recipes.p-3.text-justify
            img.img-bg.img-bg__salad-rec(src="./img/recipes/salad.png", alt="", data-aos="fade-left", data-aos-delay="50")
            img.img-bg.img-bg__cebolla-rec(src="./img/recipes/cebolla.png", alt="", data-aos="fade-right", data-aos-delay="150")
            img.img-bg.img-bg__plato-rec(src="./img/recipes/plato1.png", alt="", data-aos="fade-up-right", data-aos-delay="100")
            img.img-bg.img-bg__lata-rec(src="./img/recipes/lata.png", alt="", data-aos="fade-up", data-aos-delay="50")
            img.img-bg.img-bg__limon-rec(src="./img/recipes/limon.png", alt="", data-aos="fade-up", data-aos-delay="250")
            .text-justify.text-box-product
              h1.tradeGothic.color1.position-relative RECETAS
              hr.raya
            .content-box-rec
              span.d-flex.justify-content-center.position-relative
                  img.img-text-rec(src="./img/recipes/text.png", alt="")
              .row.pt-5.mb-5
                  .offset-lg-2.offset-md-1.offset-sm-1.col-sm-10.col-lg-5
                      p.text__p.tradeGothic.color1 Con
                        img.logo-blue-box-product(src="./img/logoBlue.svg", alt="")
                        |puedes preparar muchos platos deliciosos, desde ensaladas hasta guisos y platos de fondo.<br><br> ¡Descúbrelos!
  section.mb-5.position-relative
    img.img-bg.img-bg__tomate-rec2(src="./img/recipes/tomate.png", alt="", data-aos="fade-up-right", data-aos-delay="50")
    img.img-bg.img-bg__palta-rec(src="./img/recipes/palta.png", alt="", data-aos="fade-up-right", data-aos-delay="150")
    img.img-bg.img-bg__tenedor-rec(src="./img/recipes/tenedor.png", alt="", data-aos="fade-left", data-aos-delay="50")
    img.img-bg.img-bg__tomate2-rec(src="./img/recipes/tomate2.png", alt="", data-aos="fade-left", data-aos-delay="250")
    .container-fluid
      .container.recipes-sec
         .row.justify-content-center
            .col-10.sm-mx-auto
              .row
                .col-xs-12
                  //-Tabs nav
                  div.position-relative
                    //- div(class="btn white pointer d-flex align-items-center collapse_icon" data-toggle="collapse" href="#entradas" role="button" aria-expanded="false" aria-controls="entradas")
                    div(class="white  d-flex align-items-center")
                      .row.position-relative
                        //- img.img-icon-up(src="./img/icon/arrow-down.png", alt="")
                        .col-12
                          h1.color1.tradeGothic PLATOS DE FONDO
                          hr.raya
                    .row
                      .col
                          .collapse.multi-collapse#entradas
                            ul(class="nav nav-pills pills-tab mb-3" role="tablist")
                                li.nav-item
                                  a(class="text__p nav-link slide-tabs active" id="pills-f-atun-tab" data-toggle="pill" href="#pills-f-atun" role="tab" aria-controls="pills-f-atun" aria-selected="true") Lomo saltado de atún &nbsp;|
                                //- li.nav-item
                                //-   a(class="text__p nav-link slide-tabs" id="pills-pastel-caballa-tab" data-toggle="pill" href="#pills-pastel-caballa" role="tab" aria-controls="pills-pastel-caballa" aria-selected="false") Pastel de Caballa  &nbsp;|
                    .tab-content#pills-tabContent
                        //- tab-1
                        //- hr.hr-recipes
                        div(class="tab-pane fade show active" id="pills-f-atun" role="tabpanel" aria-labelledby="pills-f-atun-tab")
                          ul(class="nav nav-interno mb-3 hide" role="tablist")
                              li.nav-item
                                  a(class="text__p nav-link slide-tabs " id=""   href="#causa-de-caballa") Causa de caballa &nbsp;|
                              li.nav-item
                                  a(class="text__p nav-link slide-tabs " id=""  href="#papa-rellena-con-atun") Papa rellena con atún &nbsp;|
                              li.nav-item
                                  a(class="text__p nav-link slide-tabs " id=""   href="#coliflor-saltada-con-filete-de-atun") Coliflor saltada con filete de atún &nbsp;|
                              li.nav-item
                                    a(class="text__p nav-link slide-tabs " id=""   href="#aji-de-caballa") Ají de caballa
                          .row.d-flex.justify-content-center
                            .col-xs-12.col-sm-6
                                img.recipes.recipes__img(src="./img/recipes/rec/rec-2-01.jpg")
                            .col.d-flex.align-items-center
                                .slider-about__text
                                  h3.color1.tradeGothic <b>Lomo saltado de atún</b>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
                                    p.color1.tradeGothic.text__p.pt-4 25 min.<br><br>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
                                    p.color1.tradeGothic.text__p 06 porc.
                          .row.mt-5.d-flex.justify-content-center
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/pro-3.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Ingredientes
                              .row
                                .col
                                    .collapse.multi-collapse#ingredientes1
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p 2 unidades de Filete de Atún Artesanal
                                            li
                                              p 2 cucharadas de aceite
                                            li
                                              p 4 cucharadas de pisco
                                            li
                                              p 2 cebollas cortadas en juliana
                                            li
                                              p 2 ajíes amarillos sin venas ni pepas en tiras finas
                                            li
                                              p 3 tomates con piel y pepas en octavos
                                            li
                                              p 1/4 de taza de sillao
                                            li
                                              p 4 cucharadas de vinagre blanco
                                            li
                                              p 2 cucharadas de culantro picado
                                            li
                                              p 4 tazas de papas fritas
                                            li
                                              p 4 tazas de arroz con choclo
                                            li
                                              p Sal y pimienta al gusto
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/rec-1.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Preparación
                              .row
                                .col
                                    .collapse.multi-collapse#valores1
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p Calentar el aceite en una sartén a fuego alto. Agregar el Filete de Atún Artesanal Campomar y saltear durante dos minutos.
                                            li
                                              p Verter el pisco, flambear durante 30 segundos y sazonar con sal y pimienta. Retirar del fuego y resrvar en un recipiente.
                                            li
                                              p En la misma sartén añadir la cebolla, el ají amarillo y el tomate, y cocinar durante dos minutos. Incorporar el atún salteado, el sillao y el vinagre, y cocinar durante dos minutos más.
                                            li
                                              p Retirar del fuego.
                                            li
                                              p Esparcir el culantro picado. Mezclar el lomo saltado con las papas fritas y servir junto con el arroz con choclo.
                          //- tab-2
                          hr.hr-recipes#causa-de-caballa
                          .row.d-flex.justify-content-center
                            .col-xs-12.col-sm-6
                                img.recipes.recipes__img(src="./img/recipes/rec/rec-2-02.jpg")
                            .col.d-flex.align-items-center
                                .slider-about__text
                                  h3.color1.tradeGothic <b>Causa de caballa</b>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
                                    p.color1.tradeGothic.text__p.pt-4 20 min.<br><br>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
                                    p.color1.tradeGothic.text__p 06 porc.
                          .row.mt-5.d-flex.justify-content-center
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes2" role="button" aria-expanded="false" aria-controls="ingredientes2")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/pro-3.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Ingredientes
                              .row
                                .col
                                    .collapse.multi-collapse#ingredientes2
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p 1 unidades de Sólido de Caballa
                                            li
                                              p 1/2 kg de papa amarilla
                                            li
                                              p 2 cucharadas de ají amarillo molido
                                            li
                                              p 2 limones
                                            li
                                              p Sal
                                            li
                                              p 1/2 taza de aceite vegetal
                                            li
                                              p 1/2 cebolla picada
                                            li
                                              p 1 rama de apio picada
                                            li
                                              p 200 g de mayonesa light
                                            li
                                              p Sal y pimienta al gusto
                                            li
                                              p Aceitunas sin pepa
                                            li
                                              p 1 palta

                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores2" role="button" aria-expanded="false" aria-controls="valores2")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/rec-1.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Preparación
                              .row
                                .col
                                    .collapse.multi-collapse#valores2
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p Para la masa: sancochar la papa amarilla y prensar 3 veces.
                                            li
                                              p Una vez prensada, dejar enfriar, agregar el limón, la sal, el ají molido y un chorro de aceite.
                                            li
                                              p Dejar reposar al menos 5 minutos.
                                            li
                                              p Para el relleno: en un recipiente agregar la cebolla, el apio, la mayonesa, el limón el Sólido de Caballa Campomar0, y salpimentar. Para el armado: poner la primera capa de masa, seguida del relleno, la palta y, finamente, la capa de masa restante en cima. Decorar con aceitunas picadas, mayonesa y perejil.
                          //- tab-3
                          hr.hr-recipes#papa-rellena-con-atun
                          .row.d-flex.justify-content-center
                            .col-xs-12.col-sm-6
                                img.recipes.recipes__img(src="./img/recipes/rec/rec-2-03.jpg")
                            .col.d-flex.align-items-center
                                .slider-about__text
                                  h3.color1.tradeGothic <b>Papa rellena con atún</b>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
                                    p.color1.tradeGothic.text__p.pt-4 30 min.<br><br>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
                                    p.color1.tradeGothic.text__p 06 porc.
                          .row.mt-5.d-flex.justify-content-center
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes3" role="button" aria-expanded="false" aria-controls="ingredientes3")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/pro-3.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Ingredientes
                              .row
                                .col
                                    .collapse.multi-collapse#ingredientes3
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p 1 unidad de Grated de Atún Campomar
                                            li
                                              p 1 kg de papas
                                            li
                                              p 1 huevo duro cortado en cuadrados
                                            li
                                              p 1/4 taza de aceite
                                            li
                                              p 1 cucharadita de ajos molidos
                                            li
                                              p 1/2 taza de harina
                                            li
                                              p 8 aceitunas pequeñas
                                            li
                                              p 1 cucharada de perejil picado
                                            li
                                              p 50 g de pasas (opcional)
                                            li
                                              p Sal y pimienta al gusto

                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores3" role="button" aria-expanded="false" aria-controls="valores3")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/rec-1.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Preparación
                              .row
                                .col
                                    .collapse.multi-collapse#valores3
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p Sancochar las papas, pelarlas y prensarlas. Salpimentar al gusto.
                                            li
                                              p Hacer un aderezo con los ajos y la cebolla. Agregar los huevos, las pasas, las aceitunas y el Grated de Atún Campomar . Añadir el perejil.
                                            li
                                              p Armar las papas con esta preparación haciendo medianos bollos rellenos, enharinarlas y freírlas en aceite bien caliente. Servir acompañado de arroz blanco y salsa criolla.
                          //- tab-4
                          hr.hr-recipes
                          .row.d-flex.justify-content-center#coliflor-saltada-con-filete-de-atun
                            .col-xs-12.col-sm-6
                                img.recipes.recipes__img(src="./img/recipes/rec/rec-2-04.jpg")
                            .col.d-flex.align-items-center
                                .slider-about__text
                                  h3.color1.tradeGothic <b>Coliflor saltada con filete de atún</b>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
                                    p.color1.tradeGothic.text__p.pt-4 15 min.<br><br>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
                                    p.color1.tradeGothic.text__p 04 porc.
                          .row.mt-5.d-flex.justify-content-center
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes4" role="button" aria-expanded="false" aria-controls="ingredientes4")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/pro-3.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Ingredientes
                              .row
                                .col
                                    .collapse.multi-collapse#ingredientes4
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p 2 unidades de Filete de Atún Campomar
                                            li
                                              p 1 coliflor mediana cortada en ramos chicos
                                            li
                                              p 1 cebolla cortada en cuadraditos
                                            li
                                              p 1 cucharada de ajos molidos
                                            li
                                              p 1 cucharada de kión molido
                                            li
                                              p 1/4 de taza de aceite
                                            li
                                              p 1 kg de papas cortadas y peladas
                                            li
                                              p 1 cucharada de sillao
                                            li
                                              p 1 ají verde cortado en cuadraditos
                                            li
                                              p Sal y pimienta al gusto
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores4" role="button" aria-expanded="false" aria-controls="valores4")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/rec-1.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Preparación
                              .row
                                .col
                                    .collapse.multi-collapse#valores4
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p Hacer un aderezo con los ajos, la cebolla y el ají picado.
                                            li
                                              p Agregar el Filete de Atún Campomar, la coliflor y el kión.
                                            li
                                              p Cocinar hasta que la coliflor esté tierna.
                                            li
                                              p Condimentar al gusto y retirar del fuego.
                                            li
                                              p Aparte, freír las papas y agregar a la preparación anterior.
                                            li
                                              p Servir con arroz blanco
                          //- tab-4
                          hr.hr-recipes
                          .row.d-flex.justify-content-center#aji-de-caballa
                            .col-xs-12.col-sm-6
                                img.recipes.recipes__img(src="./img/recipes/rec/rec-2-05.jpg")
                            .col.d-flex.align-items-center
                                .slider-about__text
                                  h3.color1.tradeGothic <b>Ají de caballa</b>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
                                    p.color1.tradeGothic.text__p.pt-4 40 min.<br><br>
                                  span.d-flex.align-items-center
                                    img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
                                    p.color1.tradeGothic.text__p 04 porc.
                          .row.mt-5.d-flex.justify-content-center
                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes5" role="button" aria-expanded="false" aria-controls="ingredientes5")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/pro-3.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Ingredientes
                              .row
                                .col
                                    .collapse.multi-collapse#ingredientes5
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p 1 unidad de Grated de Caballa
                                            li
                                              p 1 kg de papas
                                            li
                                              p 1/2 taza de leche
                                            li
                                              p 3 cucharadas de ají verde molido
                                            li
                                              p 1 cucharada de ajo molido
                                            li
                                              p 1/2 taza de cebolla picada en cuadraditos
                                            li
                                              p 1 taza de harina
                                            li
                                              p 1 sobrecito de palillo
                                            li
                                              p 1 ramito de hierba buena
                                            li
                                              p 1 huevo duro
                                            li
                                              p 4 aceitunas
                                            li
                                              p Aceite
                                            li
                                              p Sal y pimienta al gusto

                            .col-lg-4.col-md-5.mt-2
                              div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores5" role="button" aria-expanded="false" aria-controls="valores5")
                                .btn-recipes__cont-img
                                  img(src="./img/icon/rec-1.png", alt="")
                                i.fa.fa-chevron-circle-down.btn-recipes__fa
                                p.text__p Preparación
                              .row
                                .col
                                    .collapse.multi-collapse#valores5
                                        .card.card-body.card-product.card-recipes
                                          ul.ul-recipes
                                            li
                                              p Sancochar, pelar y cortar las papas en rodajas.
                                            li
                                              p Disolver la harina en agua y agregar la mitad de la leche.
                                            li
                                              p Hacer un aderezo con los condimentos, el ajo, el ají, el palillo y la cebolla.
                                            li
                                              p En la misma olla, agregar la harina de a pocos y mover diez minutos.
                                            li
                                              p Añadir la hierba buena, el Grated de Caballa y el resto de la leche. Salpimentar al gusto.
                                            li
                                              p Servir acompañado de las papas, las aceitunas, el huevo duro en rodajas, y arroz blanco.
                        //- tab--1
                        //- hr.hr-recipes
              //-           div(class="tab-pane fade" id="pills-pastel-caballa" role="tabpanel" aria-labelledby="pills-pastel-caballa-tab")
              //-             ul(class="nav nav-interno mb-3 hide" role="tablist")
              //-               li.nav-item
              //-                   a(class="text__p nav-link slide-tabs " id=""   href="#") Ensalada Templada de atún &nbsp;|
              //-               li.nav-item
              //-                   a(class="text__p nav-link slide-tabs " id=""  href="#") Ensalada Caprichosa con atún &nbsp;|
              //-             .row.d-flex.justify-content-center
              //-               .col-xs-12.col-sm-6
              //-                   img.recipes.recipes__img(src="./img/recipes/rec/rec-01.jpg")
              //-               .col.d-flex.align-items-center
              //-                   .slider-about__text
              //-                     h3.color1.tradeGothic <b>Pastel de Caballa</b>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
              //-                       p.color1.tradeGothic.text__p.pt-4 15 min.<br><br>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
              //-                       p.color1.tradeGothic.text__p 04 porc.
              //-             .row.mt-5.d-flex.justify-content-center
              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/pro-3.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Ingredientes
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#ingredientes1
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p 4 unidades de <b>Filete de Atún</b> Campomar
              //-                               li
              //-                                 p 2 ajíes amarillos picados
              //-                               li
              //-                                 p 4 tomates pelados y picados
              //-                               li
              //-                                 p 2 cebollas picadas
              //-                               li
              //-                                 p 12 limones
              //-                               li
              //-                                 p Sal y pimienta al gusto
              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/rec-1.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Preparación
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#valores1
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p Mezclar el <b>Filete de Atún</b> Campomar con los ajíes, los tomates y las cebollas.
              //-                               li
              //-                                 p Exprimir los limones y agregar el jugo a la preparación. Mezclar suavemente.
              //-                               li
              //-                                 p Salpimentar y servir en plato hondo.
              //-                               li
              //-                                 p Decorar con papa sancochada y lechugas (opcional)
              //-             //- tab-2
              //-             hr.hr-recipes
              //-             .row.d-flex.justify-content-center
              //-               .col-xs-12.col-sm-6
              //-                   img.recipes.recipes__img(src="./img/recipes/rec/rec-02.jpg")
              //-               .col.d-flex.align-items-center
              //-                   .slider-about__text
              //-                     h3.color1.tradeGothic <b>Ensalada Templada de atún</b>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
              //-                       p.color1.tradeGothic.text__p.pt-4 40 min.<br><br>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
              //-                       p.color1.tradeGothic.text__p 04 porc.
              //-             .row.mt-5.d-flex.justify-content-center
              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes2" role="button" aria-expanded="false" aria-controls="ingredientes2")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/pro-3.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Ingredientes
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#ingredientes2
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p 2 unidades de Filete de Atún  Artesanal
              //-                               li
              //-                                 p 20 aceitunas negras
              //-                               li
              //-                                 p 1 cebolla grande cortada en juliana
              //-                               li
              //-                                 p 12 tomates cherry
              //-                               li
              //-                                 p Perejil al gusto
              //-                               li
              //-                                 p 2 limones
              //-                               li
              //-                                 p Arroz (opcional)
              //-                               li
              //-                                 p Sal y pimienta al gusto

              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores2" role="button" aria-expanded="false" aria-controls="valores2")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/rec-1.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Preparación
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#valores2
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p En un recipiente colocar la cebolla, las aceitunas, los tomates cortados por la mitad, el Filete de Atún Artesanal Campomar y el arroz (opcional).
              //-                               li
              //-                                 p Agregar el jugo de los limones y salpimentar al gusto.
              //-                               li
              //-                                 p Mezclar, decorar con perejil y servir
              //-             //- tab-3
              //-             hr.hr-recipes
              //-             .row.d-flex.justify-content-center
              //-               .col-xs-12.col-sm-6
              //-                   img.recipes.recipes__img(src="./img/recipes/rec/rec-03.jpg")
              //-               .col.d-flex.align-items-center
              //-                   .slider-about__text
              //-                     h3.color1.tradeGothic <b>Ensalada Caprichosa con atún</b>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
              //-                       p.color1.tradeGothic.text__p.pt-4 10 min.<br><br>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
              //-                       p.color1.tradeGothic.text__p 04 porc.
              //-             .row.mt-5.d-flex.justify-content-center
              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes3" role="button" aria-expanded="false" aria-controls="ingredientes3")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/pro-3.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Ingredientes
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#ingredientes3
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p 2 unidades de Filete de Atún Claro
              //-                               li
              //-                                 p 12 tomates cherry
              //-                               li
              //-                                 p 1 lechuga
              //-                               li
              //-                                 p 1 pepino
              //-                               li
              //-                                 p 1 taza de alverjitas
              //-                               li
              //-                                 p 1 limón
              //-                               li
              //-                                 p Aceite de oliva
              //-                               li
              //-                                 p Sal y pimienta al gusto

              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores3" role="button" aria-expanded="false" aria-controls="valores3")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/rec-1.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Preparación
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#valores3
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p Sancochar las alverjitas y el choclo.
              //-                               li
              //-                                 p Mezclar todos los ingredientes junto con el Filete de Atún Claro Campomar en un recipiente.
              //-                               li
              //-                                 p Añadir el jugo de limón, el aceite de oliva y salpimentar al gusto.
              //-                               li
              //-                                 p Mover y servir.
              //-             //- tab-4
              //-             hr.hr-recipes
              //-             .row.d-flex.justify-content-center
              //-               .col-xs-12.col-sm-6
              //-                   img.recipes.recipes__img(src="./img/recipes/rec/rec-04.jpg")
              //-               .col.d-flex.align-items-center
              //-                   .slider-about__text
              //-                     h3.color1.tradeGothic <b>Ensalada Campomar</b>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-2.png", alt="")
              //-                       p.color1.tradeGothic.text__p.pt-4 15 min.<br><br>
              //-                     span.d-flex.align-items-center
              //-                       img.img-icon-left.mr-2(src="./img/icon/rec-3.png", alt="")
              //-                       p.color1.tradeGothic.text__p 04 porc.
              //-             .row.mt-5.d-flex.justify-content-center
              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#ingredientes4" role="button" aria-expanded="false" aria-controls="ingredientes4")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/pro-3.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Ingredientes
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#ingredientes4
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p 1 unidad de Filete de Atún Light
              //-                               li
              //-                                 p 1/2 taza de alverjitas
              //-                               li
              //-                                 p 1/4 de taza de habas
              //-                               li
              //-                                 p 2 papas
              //-                               li
              //-                                 p 2 zanahorias
              //-                               li
              //-                                 p Hojas de Lechuga
              //-                               li
              //-                                 p 2 cucharadas de mayonesa
              //-                               li
              //-                                 p 1 limón
              //-                               li
              //-                                 p Perejil al gusto
              //-                               li
              //-                                 p Sal y pimienta al gusto

              //-               .col-lg-4.col-md-5.mt-2
              //-                 div(class="btn white pointer btn-recipes__contenedor d-flex align-items-center" data-toggle="collapse" href="#valores4" role="button" aria-expanded="false" aria-controls="valores4")
              //-                   .btn-recipes__cont-img
              //-                     img(src="./img/icon/rec-1.png", alt="")
              //-                   i.fa.fa-chevron-circle-down.btn-recipes__fa
              //-                   p.text__p Preparación
              //-                 .row
              //-                   .col
              //-                       .collapse.multi-collapse#valores4
              //-                           .card.card-body.card-product.card-recipes
              //-                             ul.ul-recipes
              //-                               li
              //-                                 p Sancochar las alverjitas, las habas, las papas, las zanahorias y cortarlas en cuadraditos.
              //-                               li
              //-                                 p Agregar el Filete de Atún Light
              //-                               li
              //-                                 p Mezclar todos los ingredientes en un recipiente, añadir el jugo de limón y salpimentar al gusto.
              //-                               li
              //-                                 p Decorar con lechugas
              //- .row.d-flex.justify-content-center.mt-5
              //-   .col.d-flex.justify-content-end.cambiarpestana.position-relative(data-accion="prev")
              //-     .row
              //-       .col-4
              //-         img.img-icon-tabs(src="./img/icon/arrow-left.png", alt="")
              //-       .col-8
              //-         h3.color1.tradeGothic  Anterior
              //-   .col.d-flex.justify-content-start.cambiarpestana.position-relative(data-accion="next")
              //-     .row
              //-       .col-8
              //-         h3.color1.tradeGothic Siguiente
              //-       .col-4
              //-         img.img-icon-tabs(src="./img/icon/arrow-right.png", alt="")
