extends ../templates/template

append config
  -titulo = "TERMINOS Y CONDICIONES"
  -paginaActual = "terms"
  -show_logos= false

block main

  section.mt-5
    .container-fluid
      .container.mt-5
        .row
          .offset-1.col-md-10.text-left
            hr.transparent
            h1.color1.tradeGothic TÉRMINOS Y CONDICIONES DE USO DE PÁGINA WEB
            hr.raya

            h2.mt-5.color1.tradeGothic INTRODUCCIÓN
            hr.raya

            p.color1.tradeGothic.text__p
              |Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de &nbsp;
              a(href="http://clientes.la-agencia.pe/campomar/") <b>www.campomar.com.pe,</b>
              |&nbsp;propiedad de Pesquera Hayduk S.A., con domicilio legal en avenida Manuel Olguín 501, oficina 701, distrito de Santiago de Surco-Lima y con RUC 20136165667, a la que llamaremos en adelante “la empresa”. El usuario deberá leerlas y aceptarlas para usar todos los servicios e información que se facilitan desde el portal. El acceso y/o utilización de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.

            h2.mt-5.color1.tradeGothic CONDICIONES DE USO
            hr.raya

            p.color1.tradeGothic.text__p
              |Las presentes condiciones generales de uso del portal regulan su acceso y utilización, incluyendo los contenidos y servicios puestos a disposición de los usuarios en y/o a través del portal, sea por este, por sus usuarios o por terceros. No obstante, el acceso y uso de ciertos contenidos y/o servicios pueden encontrarse sometidos a determinadas condiciones específicas.

            h2.mt-5.color1.tradeGothic MODIFICACIONES
            hr.raya

            p.color1.tradeGothic.text__p
              |La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. Se recomienda que consulte periódicamente los presentes términos de uso, ya que pueden ser modificados.

            h2.mt-5.color1.tradeGothic OBLIGACIONES DEL USUARIO
            hr.raya

            p.color1.tradeGothic.text__p
              |El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa, manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.
              br
              br
              |Así mismo, no podrá utilizar el portal para transmitir, almacenar, divulgar, promover o distribuir datos o contenidos que sean  portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.

            h2.mt-5.color1.tradeGothic RESPONSABILIDAD DEL PORTAL
            hr.raya

            p.color1.tradeGothic.text__p
              |El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita sobre los datos, contenidos, información y servicios que se incorporan y ofrecen. Exceptuando los casos que la ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, la empresa no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del portal.
              br
              br
              |En todo caso, el portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.

            h2.mt-5.color1.tradeGothic PROPIEDAD INTELECTUAL E INDUSTRIAL
            hr.raya

            p.color1.tradeGothic.text__p
              |Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial que sean accesibles en el portal, corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del portal sin la autorización de la emprea, siempre que no sean  a una página web del portal que no requiera identificación o autenticación para su acceso o el mismo esté restringido.
              br
              br
              |En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información, datos y servicios que ostente sobre los mismos. No concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.

            h2.mt-5.color1.tradeGothic LEGISLABLE APLICABLE, JURISDICCIÓN COMPETENTE Y NOTIFICACIONES
            hr.raya

            p.color1.tradeGothic.text__p
              |Las presentes condiciones se rigen y se interpretan de acuerdo con las leyes del Perú. Para cualquier reclamo serán competentes los juzgados y tribunales de Lima. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el usuario desee efecturar a la empresa titular del portal, deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección: avenida Manuel Olguín 501, oficina 701, distrito de Santiago de Surco - Lima.

            h2.mt-5.color1.tradeGothic INFORMACIÓN ENTREGADA A PESQUERA HAYDUK S.A. <br> NORMATIVA DE PROTECCIÓN DE DATOS PERSONALES
            hr.raya

            p.color1.tradeGothic.text__p
              |De acuerdo a lo establecido en la ley N° 29733 y en el Decreto Supremo 003-2013/JUS, la persona quien acepta esta política de protección de datos personales, en adelante “el usuario”, queda informado y da su consentimiento libre, previo, expreso, inequívoco e informado, para el tratamiento de sus datos personales en el banco de datos de titularidad de Pesquera Hayduk S.A., conjuntamente con cualquier otro dato personal que pudiera facilitarse como parte de algún requerimiento realizado por el usuario mediante la presente web, así como aquellos datos obtenidos en fuentes accesibles al público. Los datos personales se tratarán solo con las finalidades de dar cumplimiento a la solicitud realizada por el usuario y de ejecutar la relación que podría entablarse entre el usuario y Pesquera Hayduk S.A., para fines estadísticos, analíticos y de comportamiento del usuario. Para el cumplimiento de estas finalidades, se podrá realizar un tratamiento por encargo a terceros.
              br
              br
              |Pesquera Hayduk S.A. utilizará los datos personales con fines comerciales, y publicitarios a fin de remitir, enviar o comunicar información institucional, sobre sus productos y/o servicios que considere de interés del usuario, a través de cualquier medio de comunicación disponible en el mercado. Para el cumplimiento de esta finalidad, los datos personales podrán ser facilitados a terceros a través de un tratamiento por encargo.
              br
              br
              |Se podrá realizar transferencia de los datos personales en territorio nacional, así como al extranjero, llevándose a cabo un flujo transfronterizo, con las finalidades indicadas anteriormente, otorgando el usuario su consentimiento para que los destinatarios de los datos personales puedan realizar el tratamiento de los mismos. Al respecto, el receptor en el extranjero, asumirá las mismas obligaciones y medidas de seguridad, técnicas y legales que le corresponden a Pesquera Hayduk S.A., conforme a lo establecido en la ley y reglamento.
              br
              br
              |Los datos personales serán incorporados, con las mismas finalidades, en los bancos de datos de Pesquera Hayduk S.A. y/o terceros que realicen un tratamiento por encargo, con quienes se entablará una relación comercial.
              br
              br
              |Los bancos de datos donde se almacenarán, cuentan con estrictas medidas de seguridad técnica y organizativa. Conforme a ley, el titular de la información está facultado a ejercitar los derechos ARCO (información, acceso, rectificación, supresión o cancelación y oposición) que se detallan en la ley y su reglamento, para lo cual puede comunicarse a la central telefónica: 211-2999 anexo 3207 y/o al correo electrónico: datospersonales@hayduk.com.pe con el asunto “Datos personales web”.
            hr.transparent
