            .container.inline
                .row
                    .col-lg-10.sm-mx-auto
                        .row
                            .col-xs-12
                                .filtrer.mt-3 
                                    span.calidad
                                        a(href="#") CALIDAD
                                    span.ml-2.sabor
                                        a(href="#") SABOR
                                    span.ml-2.nutricion
                                        a(href="#") NUTRICION
                                    span.ml-2.practicidad
                                        a(href="#") PRACTICIDAD
                                    span.ml-2.origrn
                                        a(href="#") ORIGEN
                                .d-flex.logos.slider-about
                                    .slider-about__item.calidad
                                        .row
                                            .col
                                                img.slider-about__img(src="./img/home/img/solido.png")
                                            .col 
                                                .slider-about__text
                                                    h2.color1.tradeGothic CALIDAD
                                                    p.color1.tradeGothic ¡Hecho por peruanos y para peruanos! <br><br>
                                                    p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad. <br><br>
                                                    p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!<br><br>
                                    .slider-about__item.sabor
                                        .row
                                            .col
                                                img.slider-about__img(src="./img/home/img/solido.png")
                                            .col 
                                                .slider-about__text
                                                    h2.color1.tradeGothic SABOR
                                                    p.color1.tradeGothic ¡Hecho por peruanos y para peruanos! <br><br>
                                                    p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad. <br><br>
                                                    p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!<br><br>
                                    .slider-about__item.nutricion
                                        .row
                                            .col
                                                img.slider-about__img(src="./img/home/img/solido.png")
                                            .col 
                                                .slider-about__text
                                                    h2.color1.tradeGothic NUTRICION
                                                    p.color1.tradeGothic ¡Hecho por peruanos y para peruanos! <br><br>
                                                    p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad. <br><br>
                                                    p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!<br><br>
                                    .slider-about__item.practicidad
                                        .row
                                            .col
                                                img.slider-about__img(src="./img/home/img/solido.png")
                                            .col 
                                                .slider-about__text
                                                    h2.color1.tradeGothic PRACTICIDAD
                                                    p.color1.tradeGothic ¡Hecho por peruanos y para peruanos! <br><br>
                                                    p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad. <br><br>
                                                    p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!<br><br>
                                    .slider-about__item.origrn
                                        .row
                                            .col
                                                img.slider-about__img(src="./img/home/img/solido.png")
                                            .col 
                                                .slider-about__text
                                                    h2.color1.tradeGothic ORIGEN
                                                    p.color1.tradeGothic ¡Hecho por peruanos y para peruanos! <br><br>
                                                    p.color1.tradeGothic Vigilamos todo el proceso de producción para elaborar un producto que cumpla con los más altos estándares de calidad. <br><br>
                                                    p.color1.tradeGothic Pesca que proviene de nuestro mar, ¡que es garantía de calidad, sabor y nutrición!<br><br>
                    .mb-5