footer.footer.bg-color1
	.container.pt-5.pb-4.white
		.row
			.col-xs-7.col-sm-8.xs-mx-auto.col-md-12
				.row
					.col-sm-6.col-md-3.mb-3.md-mb-0.d-flex.justify-content-center.d-sm-inline
						a(href="./")
							img(src="./img/logo.png", alt="Logo")
					//- .col-sm-6.col-md-6.mb-6.md-mb-0
					.col
						p.footer__info.xs-center.sm-left.pt-3.menu.float-left
							a.white(href="./about.html", class=`${paginaActual==="about" ? "active": ""}`)
								|NOSOTROS
						p.footer__info.xs-center.sm-left.pt-3.menu.float-left
							a.white(href="./about.html", class=`${paginaActual==="about" ? "active": ""}`)
								|NOSOTROS
						p.footer__info.xs-center.sm-left.pt-3.menu.float-left
							a.white(href="./about.html", class=`${paginaActual==="about" ? "active": ""}`)
								|NOSOTROS
						p.footer__info.xs-center.sm-left.pt-3.menu.float-left
							a.white(href="./about.html", class=`${paginaActual==="about" ? "active": ""}`)
								|NOSOTROS
					//- .col-sm-12.col-md-4
					//- 	.row
					//- 		.col-sm-6
					//- 			.footer__menu.d-flex.justify-content-center.d-sm-inline
					//- 				ul.list-style-outside.d-flex.flex-column.ml-3.ml-md-0
					//- 					li
					//- 						a(href="./terms-and-conditions.html") Terminos y condiciones
					//- 					li
					//- 						a(href="./ethical-management.html") Gestión ética
					//- 					li
					//- 						a(href="./supplier-management.html") Gestión de proveedores
					//- 					li
					//- 						a(href="./site-map.html") Mapa del sistio
					//- 		.col-sm-6
					//- 			.row
					//- 				.col-xs-9
					//- 					.row
					//- 						.col-xs-3.mt-3
					//- 							span.fas.fa-phone-volume.big.i-phone
					//- 						.col-xs-9.mt-2.mt-sm-0
					//- 							p
					//- 								| Central
					//- 								| telefónica
					//- 								| 211 2999
					//- 				.col-xs-3
					//- 					a(href="#")
					//- 						span.fab.fa-youtube.mt-1
					//- 					a(href="#")
					//- 						span.fab.fa-linkedin-in(style="padding-left: 2.5px")

.sub-footer.bg-color1
	.container.pt-2.pb-4
		.row
			.col-xs-10.col-sm-9.xs-mx-auto.col-md-12
				.footer__copyright.xs-center.white
					span.copyright ©2018. Todos los derechos reservados. Diseño y desarrollo por
						a.copyright-sub.white(href="http://la-agencia.pe/", target="_blank")
							|  La Agencia®
