.cookies#cookies_content.d-none
  .cookies__content
    .row.d-flex.justify-content-center
      .col-xs-10.col-sm-8.mt-3
        span.white.cookies__text En Campomar trabajamos constantemente para que tu experiencia en nuestra web sea siempre la mejor. Para continuar navegando, por favor pulsa ACEPTAR confirmando que has leído y aceptado sus términos y condiciones. Después de hacerlo, no volveremos a mostrarte este mensaje.
        br
        span.btn.btn-white-footer.tradeGothic.color1.mb-2#btn_acepto  ACEPTO
footer.footer.bg-color1
  .container.pt-3.pb-3.white
    .row.d-flex.justify-content-center
      .col-xs-9.col-sm-8.col-md-8.col-lg-2.d-flex.align-items-center.centrar__1-footer
        a.pc-version.logo__footer(href="./")
          img(src="./img/logo.svg", alt="Logo")
      .col-xs-hide.col-sm-10.col-md-8.col-lg-8.col-xl-7.pl-0.pr-0
        //- div.d-flex.align-items-center.mt-3
        //-   ul.footer__menu.d-inherit.tradeGothic.ul-footer
        //-     li.hide_md
        //-       a.centrar__1-footer(href="./terms.html", class=`${paginaActual==="terms" ? "active": ""}`)
        //-         span TÉRMINOS Y CONDICIONES
        .footer__info.xs-center.white.d-flex.justify-content-center.mt-1.pl-2
          div.pc-version
            a.centrar__1-footer(href="./terms.html", class=`${paginaActual==="terms" ? "active": ""}`)
              span TÉRMINOS Y CONDICIONES
            span.float-left.tradeGothic.hide_md.d-none Síguenos en:
            .img-fa-content.ml-2.mr-2.float-left
              .img-fa.hide_md.d-none
                a.hide_md.d-none(href="#")
                  img(src="./img/icon/fa-youtube.png", alt="")
              .img-fa.hide_md.d-none
                a.hide_md.d-none(href="#")
                  img(src="./img/icon/fa-facebook.png", alt="")
              .img-fa.hide_md.d-none
                a.hide_md.d-none(href="#")
                  img(src="./img/icon/fa-instagram.png", alt="")
            span.tradeGothic.hide_md  (01) - 2487523 | Av. Manuel Olguín 501 Surco
            //- mobile version
          .row.ml-0.mr-0.mobile-version.d-flex.justify-content-center
            .col-12.text-center
              span
                a(href="./")
                  img.d-inline(src="./img/logo.svg", alt="Logo")
              br
              a.mobile-version.white.tradeGothic(href="./terms.html", class=`${paginaActual==="terms" ? "active": ""}`)
                span TÉRMINOS Y CONDICIONES
              br
              span.tradeGothic.d-none Síguenos en:
              br.d-none
              .img-fa-content.ml-2.mr-2
                .img-fa.d-none
                  a(href="#")
                    img(src="./img/icon/fa-youtube.png", alt="")
                .img-fa.d-none
                  a(href="#")
                    img(src="./img/icon/fa-facebook.png", alt="")
                .img-fa.d-none
                  a(href="#")
                    img(src="./img/icon/fa-instagram.png", alt="")
              span.tradeGothic.white
                a.white(href="tel:+51012487523") 01 - 2487523 &nbsp;
                | | Av. Manuel Olguín 501 Surco
              br
              img.footer__logos(src="./img/home/dolphin.png", alt="")
              img.footer__logos(src="./img/home/escudo.png", alt="")
