section.py-xs-45.bg-white
	.container
		.row
			.col-lg-10.sm-mx-auto
				.row
					.col-xs-12
						.d-flex.logos.multiple-items
							img.img-contain(src="./img/sections/logos/img-logo1.png")
							img.img-contain(src="./img/sections/logos/img-logo2.png")
							img.img-contain(src="./img/sections/logos/img-logo3.png")
							img.img-contain(src="./img/sections/logos/img-logo4.png")
							img.img-contain(src="./img/sections/logos/img-logo5.png")
							img.img-contain(src="./img/sections/logos/img-logo6.png")
							img.img-contain(src="./img/sections/logos/img-logo7.png")
							img.img-contain(src="./img/sections/logos/img-logo8.png")
							img.img-contain(src="./img/sections/logos/img-logo9.png")
							img.img-contain(src="./img/sections/logos/img-logo10.png")


						//- .d-inline-flex.logos.scroll-x.mx-3
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo1.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo2.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo3.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo4.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo5.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo6.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo7.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo8.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo9.png")
						//- 	.logos__item.mx-3
						//- 		img.logos__img.img-contain(src="./img/logos/img-logo10.png")
