section.mb-5.position-relative
      img.img-bg.img-bg__tomate-rec(src="./img/recipes/tomate.png", alt="")
      .container-fluid
        .container.recipes-sec
          .row
            .col-8
              .recipes-grid__content
                img.recipes-grid__img-vertical(src="./img/recipes/rec-ent.png", alt="")
                h1.recipes-grid__text ENTRADAS
              .row
                .col.pt-4
                  .recipes-grid__content
                    img.recipes-grid__img-vertical(src="./img/recipes/rec-snack.png", alt="")
                    h1.recipes-grid__text NIÑOS &amp; SNACKS
            .col-4
              .recipes-grid__content
                img.recipes-grid__img-horizontal(src="./img/recipes/rec-fond.png", alt="")
                h1.recipes-grid__text-horizontal PLATOS <br>DE<br> FONDO
