    section.mb-5
      .container-fluid
        .container.about.position-relative
          img.img-bg.img-bg__cebolla-pro(src="./img/produts/cebolla.png", alt="")
          img.img-bg.img-bg__palta-pro(src="./img/produts/palta.png", alt="")
          .row
              .col-lg-10.sm-mx-auto
                  .row
                      .col-xs-12
                        h1.color1.tradeGothic ATÚN
                        hr.raya
                        //-Tabs nav
                        div.position-relative
                          ul(class="nav nav-pills pills-tab mb-3" role="tablist")
                              li.nav-item
                                  a(class="nav-link slide-tabs active" id="pills-f-atun-tab" data-toggle="pill" href="#pills-f-atun" role="tab" aria-controls="pills-f-atun" aria-selected="true") Filete de Atún Artesanal &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-f-claro-tab" data-toggle="pill" href="#pills-f-claro" role="tab" aria-controls="pills-f-claro" aria-selected="false") Filete Claro &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-filete-tab" data-toggle="pill" href="#pills-filete" role="tab" aria-controls="pills-filete" aria-selected="false") Filete &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-lomos-tab" data-toggle="pill" href="#pills-lomos" role="tab" aria-controls="pills-lomos" aria-selected="false") Lomos &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-lomos-l-tab" data-toggle="pill" href="#pills-lomos-l" role="tab" aria-controls="pills-lomos-l" aria-selected="false") Lomos Light &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-trozos-tab" data-toggle="pill" href="#pills-trozos" role="tab" aria-controls="pills-trozos" aria-selected="false") Trozos &nbsp;|
                              li.nav-item
                                  a(class="nav-link slide-tabs" id="pills-grated-tab" data-toggle="pill" href="#pills-grated" role="tab" aria-controls="pills-grated" aria-selected="false") Grated
                          .tab-content#pills-tabContent.pl-5.pr-5
                              //- tab-1
                              div(class="tab-pane fade show active" id="pills-f-atun" role="tabpanel" aria-labelledby="pills-f-atun-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-5.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Filete de Atún Artesanal
                                          p.color1.tradeGothic Seleccionado a mano. Elaborado con aceite vegetal en envase de vidrio. <br><br>
                                          p.color1.tradeGothic ¡Una experiencia gourmet! Atún Artesanal Campomar está hecho con nuestra receta especial, que resalta el sabor de nuestro producto estrella y hará de tus platos una experiencia inolvidable<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-5.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                                                hr.hr-card
                                                |(*) Los % de valores diarios están basados en una dieta de 2000 KCal. Valores referenciales.
                              //- tab 2
                              div(class="tab-pane fade" id="pills-f-claro" role="tabpanel" aria-labelledby="pills-f-claro-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-6.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Filete de Atún Claro
                                          p.color1.tradeGothic Filete de atún aleta amarilla elaborado con aceite vegetal en lata litografiada.  <br><br>
                                          p.color1.tradeGothic Lo tiene todo: increíble textura y es rico en vitaminas del grupo B. Además, el exquisito sabor del atún aleta amarilla le dará un toque único a tus preparaciones.<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-6.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                              //- tab-3
                              div(class="tab-pane fade" id="pills-filete" role="tabpanel" aria-labelledby="pills-filete-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-7.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Filete de atún
                                          p.color1.tradeGothic Elaborado con aceite vegetal en lata litografiada y hecho a base de exquisito atún del mar peruano. <br><br>
                                          p.color1.tradeGothic Una gran fuente de vitaminas, es el complemento perfecto para toda alimentación saludable y, sobre todo, ¡deliciosa!<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-7.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                              //- tab-4
                              div(class="tab-pane fade" id="pills-lomos" role="tabpanel" aria-labelledby="pills-lomos-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-4.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Lomos de Atún
                                          p.color1.tradeGothic Seleccionado a mano y elaborados con aceite vegetal en lata litografiada. <br><br>
                                          p.color1.tradeGothic ¡Un clásico de toda la vida! Disfrútalo en tus guisos o pruébalo en tu sándwich favorito. ¡Trozos grandes y jugosos que harán de tus recetas platillos espectaculares!<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-4.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                              //- tab-5
                              div(class="tab-pane fade" id="pills-lomos-l" role="tabpanel" aria-labelledby="pills-lomos-l-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-11.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Lomos de Atún Light
                                          p.color1.tradeGothic Lomos de atún seleccionado a mano y elaborados con agua y sal. <br><br>
                                          p.color1.tradeGothic Delicioso y saludable. Son la opción perfecta para quienes quieren disfrutar un producto exquisito pero sin culpas.<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-11.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                              //- tab-6
                              div(class="tab-pane fade" id="pills-trozos" role="tabpanel" aria-labelledby="pills-trozos-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-3.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Trozos de Atún
                                          p.color1.tradeGothic Elaborados con aceite vegetal en lata litografiada <br><br>
                                          p.color1.tradeGothic Llegando del trabajo o del colegio. De día o de noche. En un desayuno nutritivo o para disfrutar en la cena. Son el aliado ideal para una comida rápida y deliciosa en cualquier momento. <br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-3.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                              //- tab-7
                              div(class="tab-pane fade" id="pills-grated" role="tabpanel" aria-labelledby="pills-grated-tab")
                                .row
                                  .col
                                      img.slider-product__img(src="./img/produts/pro-7.png")
                                  .col
                                      .slider-about__text
                                          h2.color1.tradeGothic Grated de Atún
                                          p.color1.tradeGothic Elaborado con aceite vegetal. <br><br>
                                          p.color1.tradeGothic Has de la cocina un momento inolvidable para todos en casa, y dale a todas tus comidas ese saborcito tan especial.<br><br>
                                .row.mt-5
                                  .col
                                    div(class="btn white no-pointer btn-product__contenedor")
                                      .btn-product__cont-img-1
                                        img(src="./img/produts/pro-7.png", alt="")
                                      //- i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Presentación
                                      p Lata con abre fácil de 170g
                                  .col
                                    div(class="btn white pointer btn-product__contenedor")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-2.png", alt="")
                                      i.fa.fa-chevron-circle-right.btn-product__fa
                                      h4 Ver Recetas
                                .row.mt-5
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#ingredientes1" role="button" aria-expanded="false" aria-controls="ingredientes1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-3.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Ingredientes
                                    .row
                                      .col
                                          .collapse.multi-collapse#ingredientes1
                                              .card.card-body.card-product
                                                table
                                                  tbody
                                                    tr
                                                      td
                                                        img(src="./img/icon/fish.png", alt="")
                                                      td
                                                        b Atún
                                                    tr
                                                      td
                                                        img(src="./img/icon/oil.png", alt="")
                                                      td
                                                        b Aceite Vegetal
                                                    tr
                                                      td
                                                        img(src="./img/icon/water.png", alt="")
                                                      td
                                                        b Agua
                                                    tr
                                                      td
                                                        img(src="./img/icon/salt.png", alt="")
                                                      td
                                                        b Sal
                                  .col
                                    div(class="btn white pointer btn-product__contenedor" data-toggle="collapse" href="#valores1" role="button" aria-expanded="false" aria-controls="valores1")
                                      .btn-product__cont-img
                                        img(src="./img/icon/pro-4.png", alt="")
                                      i.fa.fa-chevron-circle-down.btn-product__fa
                                      h4 Valores Nutricionales
                                    .row
                                      .col
                                          .collapse.multi-collapse#valores1
                                              .card.card-body.card-product
                                                b Tamaño por Porción: 100 g (1/2 lata aprox.) Porciones por envase: 2 aprox
                                                hr.hr-card
                                                table
                                                  thead
                                                    tr
                                                      th( scope="col")
                                                      th( scope="col") 100 g
                                                      th( scope="col") % Valor <br>Diario
                                                  tbody
                                                    tr
                                                      td Energía (Kcal)
                                                      td 341.1
                                                      td 17%
                                                    tr
                                                      td Grasa Total (g)
                                                      td 28.9
                                                      td 44%
                                                    tr
                                                      td • G. Saturada (g)
                                                      td 4.7
                                                      td 24%
                          span.cambiarpestana.tabs-prev-top(data-accion="prev")
                          span.cambiarpestana.tabs-next-top(data-accion="next")
