                                ul(class="nav nav-tabs" id="myTab" role="tablist")
                                    li(class="nav-item")
                                        a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") Home
                                    li(class="nav-item")
                                        a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") Profile
                                    li(class="nav-item")
                                        a(class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false") Messages
                                    li(class="nav-item")
                                        a(class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false") Settings
                                .tab-content
                                    div(class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab")
                                        Lorem 111ipsum dolor sit, amet consectetur adipisicing elit. Explicabo distinctio quo quos maiores amet natus impedit iusto sed, enim atque adipisci, at eveniet numquam iure? Totam voluptatem accusantium commodi error. 
                                    div(class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab")
                                        Lorem 222ipsum dolor sit, amet consectetur adipisicing elit. Explicabo distinctio quo quos maiores amet natus impedit iusto sed, enim atque adipisci, at eveniet numquam iure? Totam voluptatem accusantium commodi error.
                                    div(class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab")
                                        Lorem 333ipsum dolor sit, amet consectetur adipisicing elit. Explicabo distinctio quo quos maiores amet natus impedit iusto sed, enim atque adipisci, at eveniet numquam iure? Totam voluptatem accusantium commodi error.
                                    div(class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab")
                                        Lorem 444ipsum dolor sit, amet consectetur adipisicing elit. Explicabo distinctio quo quos maiores amet natus impedit iusto sed, enim atque adipisci, at eveniet numquam iure? Totam voluptatem accusantium commodi error.
                                //- <!-- Nav tabs -->
                                ul(class="nav nav-tabs" id="myTab" role="tablist")
                                    li.nav-item
                                        a(class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true") Home
                                    li.nav-item
                                        a(class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false") Profile
                                    li.nav-item
                                        a(class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false") Messages
                                    li.nav-item
                                        a(class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false") Settings

                                //- <!-- Tab panes -->
                                .tab-content
                                    div(class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab")
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem non iste repudiandae eos quis modi, eveniet veritatis quae, a dolores dolore pariatur exercitationem veniam recusandae doloremque ducimus harum sapiente voluptatum!
                                    div(class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab")
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem non iste repudiandae eos quis modi, eveniet veritatis quae, a dolores dolore pariatur exercitationem veniam recusandae doloremque ducimus harum sapiente voluptatum!
                                    div(class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab")
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem non iste repudiandae eos quis modi, eveniet veritatis quae, a dolores dolore pariatur exercitationem veniam recusandae doloremque ducimus harum sapiente voluptatum!
                                    div(class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab")
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem non iste repudiandae eos quis modi, eveniet veritatis quae, a dolores dolore pariatur exercitationem veniam recusandae doloremque ducimus harum sapiente voluptatum!