.section-box-about{
  background-image: url(../img/sections/papel2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  // width: 80vw;
  width: 80%;
  /* max-width: 783px; */
  /* max-height: 400px; */
  // height: 88vh;
  text-align: center;
  position: relative;
  // left: 12%;
  padding: 3% 3% 0 8%;
  @include media-breakpoint-up(xl){
    width: 70%;
  }
  @include media-breakpoint-down(md){
    width: 95%;
  }
}
.about{
  padding: 0rem 5.2rem 0rem 6.1rem;
}
.text-box-about{
  padding: 3% 28% 0% 10%;
}
.img-bg{
    &__table-about{
      width: 42%;
      top: 0%;
      left: -26%;
    }
    &__solido-about{
      width: 33%;
      top: -1%;
      right: -9%;
    }
    &__plato-about{
      width: 100%;
      bottom: -22%;
      right: -28rem;
      max-width: 523px;
      @include media-breakpoint-down(lg){
        bottom: -14%;
        right: -40%;
        max-width: 472px;
      }
      @include media-breakpoint-down(md){
        bottom: -25%;
        right: -34%;
        max-width: 421px;
      }
      @include media-breakpoint-down(sm){
        bottom: -26%;
        right: -17rem;
        max-width: 354px;
      }
    }
    &__limon-about{
      width: 100%;
      top: 0rem;
      left: -24rem;
      max-width: 450px;
      @include media-breakpoint-down(lg){
        width: 100%;
        top: 4rem;
        left: -8rem;
        max-width: 266px;
      }
      // @include media-breakpoint-down(md){
      //   bottom: -25%;
      //   right: -34%;
      //   max-width: 421px;
      // }
      // @include media-breakpoint-down(sm){
      //   bottom: -26%;
      //   right: -17rem;
      //   max-width: 354px;
      // }
    }
    &__pimenton-about{
      width: 100%;
      bottom: -18rem;
      right: -21rem;
      max-width: 500px;
      @include media-breakpoint-down(lg){
        bottom: -12rem;
        right: -10rem;
        max-width: 386px;
      }
    }
    &__perejil-about{
      width: 100%;
      bottom: -4rem;
      left: -34rem;
      max-width: 500px;
      @include media-breakpoint-down(lg){
        width: 100%;
        bottom: 6rem;
        left: -18rem;
        max-width: 350px;
      }
    }

    // @include media-breakpoint-up(xl) {
    //     &__limon{
    //     width: 30%;
    //     right: -39%;
    //     }
    //     &__ajies{
    //     width: 35%;
    //     bottom: -5%;
    //     left: -41%;
    //     }
    // }

}
.slider-about{
    &__img{
        // display: inline;
        width: 100%;
        max-width: 290px;
        // float: left;
    }
}
.inline{
    display: inline;
}

.beneficios{
    &__content{
      font-family: $TradeGothic;
      padding: 20% 5% 30% 6%;
      height: 100%;
      p{
        font-size: 1.3rem;
      }
      div{
        h3{
          color: map-get($my-colors, color1 );
          font-family: $TradeGothic;
          font-weight: bold;
        }
      }
    }
    &__img{
      display: inline;
    }
    &__arrow{
      position: absolute;
      right: -20%;
      top: 20%;
    }
    &__text{
      color: map-get($my-colors, color1 );
      font-family: $TradeGothic;
    }
  }

  .ab-3{
    margin-bottom: 0.7rem;
  }
  .ab-4{
    margin-bottom: 0.5rem;
  }
  .ab-5{
    top: -1.9rem;
    position: relative;
  }
