.section-box-about{
  background-image: url(../img/sections/papel2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 80vw;
  /* max-width: 783px; */
  /* max-height: 400px; */
  // height: 88vh;
  text-align: center;
  position: relative;
  left: 12%;
  padding: 3% 3% 0 8%;
}
.about{
  padding: 0rem 5.2rem 0rem 6.1rem;
}
.text-box-about{
  padding: 3% 28% 0% 10%;
}
.img-bg{
    &__table-about{
      width: 42%;
      top: 0%;
      left: -26%;
    }
    &__solido-about{
      width: 33%;
      top: -1%;
      right: -9%;
    }
    &__plato-about{
      width: 39%;
      bottom: -30%;
      right: -23%;
    }
    &__limon-about{
      width: 20%;
      top: 20%;
      left: -22%;
    }
    &__pimenton-about{
      width: 40%;
      bottom: -50%;
      right: -18%;
    }
    &__perejil-about{
      width: 35%;
      top: -100%;
      left: -43%;
    }
    @include media-breakpoint-up(xl) {
        &__limon{
        width: 30%;
        right: -39%;
        }
        &__ajies{
        width: 35%;
        bottom: -5%;
        left: -41%;
        }
    }

}
.slider-about{
    &__img{
        // display: inline;
        width: 100%;
        // float: left;
    }
}
.inline{
    display: inline;
}

.beneficios{
    &__content{
      font-family: $TradeGothic;
      padding: 20% 5% 30% 6%;
      height: 100%;
      p{
        font-size: 1.3rem;
      }
      div{
        h3{
          color: map-get($my-colors, color1 );
          font-family: $TradeGothic;
          font-weight: bold;
        }
      }
    }
    &__img{
      display: inline;
    }
    &__arrow{
      position: absolute;
      right: -20%;
      top: 20%;
    }
    &__text{
      color: map-get($my-colors, color1 );
      font-family: $TradeGothic;
    }
  }

  .ab-3{
    margin-bottom: 0.7rem;
  }
  .ab-4{
    margin-bottom: 0.5rem;
  }
  .ab-5{
    top: -1.9rem;
    position: relative;
  }
