.section-box-blog{
    background-image: url(../img/sections/hoja-blog.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 100%;
    max-width: 1141px;
    position: relative;
    @include media-breakpoint-down(lg){
      width: 90%
    }
    @include media-breakpoint-down(md){
      width: 100%
    }
    @include media-breakpoint-down(xs){
      top: -1.4rem;
    }
    &__page{
      @include media-breakpoint-down(sm){
        width: 127%;
        left: -13%;
      }
    }
  }
  .img-text-pro{
    width: 52%;
    height: 0%;

    // @include media-breakpoint-down(lg){
    //   max-width: 31rem
    // }
    @include media-breakpoint-down(sm){
      max-width: 24rem;
    }
    @include media-breakpoint-down(xs){
      width: 80%;
    }
  }
  .text-box-blog {
    padding: 3% 21% 0 18%;
    @include media-breakpoint-down(xs){
      padding: 3% 11% 0 9%;
    }
  }
  .blog-sec{
    margin-top: 3rem;
    padding: 2% 7% 0 12.8%;
    // padding: 2% 11% 0 15%;
    @include media-breakpoint-down(md){
      margin-top: 4rem;
    }
    @include media-breakpoint-down(sm){
      margin-top: 0rem;
      padding: 2% 5% 0 4%;
    }
  }
  .img-bg{
    &__trozos-blog{
      left: -12.2%;
      top: 2.3%;
      max-width: 28.7%;
      @include media-breakpoint-down(lg){
        max-width: 27.7%;
        left: -6.2%;
      }
      @include media-breakpoint-down(md){
        max-width: 26.7%;
        // left: -4.2%;
        // top: 14.3%;
      }
      @include media-breakpoint-down(xs){
        left: 3.8%;
        top: -21.7%;
      }
      @media (max-width: 450px) {
        top: -14.7%;
      }
    }
    &__trozos-blog2{
      left: -12.2%;
      top: 2.3%;
      max-width: 28.7%;
      @include media-breakpoint-down(lg){
        max-width: 27.7%;
        left: -6.2%;
      }
      @include media-breakpoint-down(md){
        max-width: 26.7%;
        // left: -4.2%;
        // top: 14.3%;
      }
      @include media-breakpoint-down(xs){
        left: 50.8%;
        top: -8.7%;
      }
      @media (max-width: 450px) {
        top: -6.7%;
      }
    }
    &__salad-blog-1{
      width: 44%;
      top: 0%;
      right: -26%;
      @include media-breakpoint-down(lg){
        width: 44%;
      }
      @include media-breakpoint-down(sm){
        top: -15%;
      }
      @include media-breakpoint-down(xs){
        top: -15%;
      }
    }
    &__salad-blog{
      width: 45%;
      top: -8.4%;
      right: -28%;

      // @include media-breakpoint-down(lg){
      //   right: -16rem;
      //   max-width: 27rem;
      // }
      // @include media-breakpoint-down(md){
      //   right: -11rem;
      //   max-width: 17rem;
      //   top: 3rem;
      // }
      // @include media-breakpoint-down(xs){
      //   right: -12rem;
      //   top: 12rem;
      // }
    }
  &__club-blog{
    width: 60%;
    top: 42%;
    left: -43%;
    @include media-breakpoint-down(sm){
      display: none;
    }
    // max-width: 42rem;
  }
  &__tomate-blog-1{
    width: 22%;
    bottom: 17%;
    left: -6.4%;
  }
  &__tomate-blog{
    width: 20%;
    bottom: 32%;
    right: -18%;
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  &__salad2-blog{
    width: 40%;
    top: 0vh;
    right: -17vw;
  }
  &__lata-blog{
    width: 100%;
    top: 18%;
    right: -10%;
    max-width: 20.3rem;
    @include media-breakpoint-down(lg){
      display: none;
    }
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  &__sda-blog{
    width: 42%;
    top: 51%;
    left: -26%;
    @include media-breakpoint-down(lg){
      top: 65%;
      left: -21%;
    }
    @include media-breakpoint-down(md){
      max-width: 27rem;
    }
    @include media-breakpoint-down(xs){
      top: 84%;
      left: -17%;
    }
  }

}
.blog-content{
  position: relative;

}
.img_blog{
  img{
    width: 100%;
  }
}
#title_blog{
  font-size: 16px;
  font-weight: bold;
  border-right: 4px solid #fff;
  @include media-breakpoint-down(sm){
    font-size: 14px;
  }
}
#content_blog{
  ul{
    list-style: unset;
    padding-left: 1rem;
  }
}
