.section-box-cont{
  background-image: url(../img/sections/hoja-blog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 2%;
  width: 100%;
  // height: 53vh;
  text-align: center;
  position: relative;
  max-width:1062px;

  // left: 14%;
  @include media-breakpoint-down(lg){
    width: 90%
  }
  @include media-breakpoint-down(md){
    width: 100%
  }
}
.contact-section{
  padding: 0 16% 0 22%;
  @include media-breakpoint-down(md){
    padding: 0 10% 0 11%;
  }
  @include media-breakpoint-down(sm){
    padding: 0 1% 0 3%;
  }
}
.contact-section-title{
  margin: 0 0 0 17%;
  @include media-breakpoint-down(md){
    margin: 0 0 0 11%;
  }
  @include media-breakpoint-down(sm){
    margin: 0 0 0 13%;
  }
  @include media-breakpoint-down(xs){
    margin: 0 0 0 4%;
  }
}
.container-btn-contact{
  padding-left: 6%;
}
.img-box-contact{
  width: 100%;
  height: 0%;
  max-width: 43rem;
  @include media-breakpoint-down(lg){
    max-width: 40rem;
  }
  @include media-breakpoint-down(md){
    max-width: 31rem;
  }
  @include media-breakpoint-down(sm){
    max-width: 21rem;
  }
}

.btn-contac{
  border-radius: 0;
  background: map-get($my-colors, color1 );
  border-color: map-get($my-colors, color1 );
  width: 8rem;
  &__coments{
    position: relative;
    margin-top: 5rem;
  }
  &__contenedor{
    background: map-get($my-colors, color1 );
    color: #fff;
    padding: 2% 1% 2% 7%;
    border-radius: 8px;
    font-family: $TradeGothic;
    transition: transform 1s;
    cursor: pointer;
    // &:hover {
    //   transform: scale(1.1);
    // }
  }
  &__contenedor2{
    background: #061e48;
    color: #fff;
    padding: 2% 1% 2% 3%;
    border-radius: 8px;
    font-family: Trade Gothic LT Std,sans-serif;
    transition: transform 1s;
    cursor: pointer;
    // margin-left: 12rem;
    // margin-top: 7rem;
    // margin-bottom: 2rem;
  }
}
form#comments{
  position: relative;
  // display: none;
}

form#distribute{
  position: relative;
  // margin-top: 14rem!important;
  // display: none;
}

.form-group{
  label{
    font-family: $TradeGothic;
    color: map-get($my-colors, color1 );
    font-weight: bold;
    font-size: 1.4rem;
    @include media-breakpoint-down(lg){
      font-size: 1.1rem;
    }
  }
  input.form-control{
    font-family: $TradeGothic;
    background: #ffffff69;
    border: solid 2px map-get($my-colors, color1);
  }
  textarea.form-control{
    font-family: $TradeGothic;
    background: #ffffff69;
    border: solid 2px map-get($my-colors, color1);
    height: 70%;
    margin-bottom: 7rem;
  }
  input.form-control:focus{
    background: #ffffff69;
    box-shadow: 0px 0px 0px 1px rgba(1,40,87,1);
  }
  textarea.form-control:focus{
    background: #ffffff69;
    box-shadow: 0px 0px 0px 1px rgba(1,40,87,1);
  }
}
.logo-blue-button{
  width: 7.4vh;
  margin-right: 3px;
  float: right;
  @include media-breakpoint-down(sm){
    width: 24.4%;
  }
}
.text-box-cont{
  padding: 3% 19% 0 14%;
}
.section-contact{
  padding: 0 16% 0 23.1%;
}
.section-form{
  padding: 0 0rem 0 6.4rem;
}
.btn-contact{
  &__contenedor {
    background: #061e48;
    color: #fff;
    padding: 2% 1% 2% 2.1rem;
    border-radius: 8px;
    font-family: Trade Gothic LT Std,sans-serif;
    width: 100%;
    height: 3.1rem;
    position: relative;
    text-align: left;
    p {
      padding-left: 1rem;
    }
    @include media-breakpoint-down(sm){
      padding: 2% 1% 2% 2.7rem;
    }
    h5{
      @include media-breakpoint-down(sm){
        font-size: 14px;
      }
    }
  }
}
// contac
.img-bg{
  position: absolute;
  z-index: 1;

  &__salad{
    width: 34%;
    top: -5%;
    left: -27%;
  }
  &__plato{
    width: 47%;
    top: -2%;
    right: -31%;
  }
  &__table{
    width: 42%;
    top: 57%;
    left: -29%;
    // @include media-breakpoint-down(sm){
    //   width: 33%;
    //   top: 83%;
    //   left: -19%;
    // }
  }
  &__ajies{
    width: 43%;
    bottom: -10%;
    left: -55%;
    z-index: 0;
  }
  &__limon{
    width: 40%;
    right: -43%;
    top: -2%;
    z-index: 0;
  }

}
