// index
.section-info-icons{
  margin: 7rem 0rem 0rem 4rem;
  @include media-breakpoint-down(md){
    margin: 4rem 0 0 0rem;
  }
}
.section-box-home{
  background-image: url(../img/home/hoja.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 2%;
  // width: 80vw;
  width: 100%;
  /* max-width: 783px; */
  /* max-height: 400px; */
  // height: 56vh;
  text-align: center;
  position: relative;
  // left: 12%;
  @include media-breakpoint-up(lg){
    // margin: 0% 10% 0% 10%;
    // width: 70vw;
  }
}
.fondo-row{
  background-image: url(../img/sections/papel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6% 11% 10% 7%;
  left: 50%;
  position: relative;
  transform: translateX(-48%);
}
.img-plato{
  left: -37.2%;
  top: 17rem;
  max-width: 38.3rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  @include media-breakpoint-down(lg){
    max-width: 35.3rem;
    left: -39.2%;
  }
  @include media-breakpoint-down(md){
    max-width: 31.3rem;
    left: -55.2%;
  }
  @include media-breakpoint-down(sm){
    max-width: 25.3rem;
    left: -51.2%;
    top: 23rem;
  }
  @include media-breakpoint-down(xs){
   display: none;
  }
}
.img-croque{
  right: -22.2%;
  top: -6.7rem;
  max-width: 24.6rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  @include media-breakpoint-down(lg){
    max-width: 21.6rem;
  }
  @include media-breakpoint-down(md){
    max-width: 17.6rem;
  }
  @include media-breakpoint-down(xs){
    max-width: 12.6rem;
    right: -22.2%;
    top: -5.9rem;
  }
}
.img-salad{
  max-width: 38.6rem;
  right: -35.2%;
  bottom: -25.7rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  @include media-breakpoint-down(lg){
    max-width: 35.6rem;
    bottom: -23.7rem;
    right: -37.2%;
  }
  @include media-breakpoint-down(md){
    max-width: 31.6rem;
    bottom: -16.7rem;
    right: -50.2%;
  }
  @include media-breakpoint-down(sm){
    max-width: 26.6rem;
    bottom: -15.4rem;
    right: -59.2%;
  }
  @include media-breakpoint-down(xs){
    display: none;
  }
}
.img-tomate{
  width: 100%;
  top: 0;
  left: -18%;
  max-width: 500px;
  position: absolute;
  z-index: 1;
  @include media-breakpoint-up(lg){
    top: 24%;
    left: -27%;
    max-width: 466px;
  }
  @include media-breakpoint-down(lg){
    max-width: 362px;
    left: -27%;
  }
  @include media-breakpoint-down(md){
    max-width: 256px;
    left: -29%;
    top: 46%;
  }
  @include media-breakpoint-down(sm){
    max-width: 200px;
    left: -30%;
    top: 46%;
  }
  @include media-breakpoint-down(xs){
    display: none;
   }

}
.img-atun{
  width: 100%;
  top: 0;
  right:-18%;
  max-width: 500px;
  position: absolute;
  z-index: 1;

  @include media-breakpoint-up(lg){
    top: 3%;
    right: -54%;
    max-width: 736px;
  }
  @include media-breakpoint-down(lg){
    max-width: 629px;
  }
  @include media-breakpoint-down(md){
    top: 24%;
    right: -54%;
    max-width: 501px;
  }
  @include media-breakpoint-down(sm){
    top: 32%;
    right: -54%;
    max-width: 347px;
  }
  @include media-breakpoint-down(xs){
   display: none;
  }
}



//

.img-solido1{
  left: -14.2%;
  top: -7.7rem;
  max-width: 22.3rem;
  width: 100%;
  position: absolute;
  @include media-breakpoint-down(lg){
    max-width: 19.3rem;
  }
  @include media-breakpoint-down(md){
    max-width: 15.3rem;
  }
  @include media-breakpoint-down(xs){
    max-width: 10.3rem;
    left: -5.2%;
    top: -4.7rem;
  }
  // z-index: 1;
}
.img-filete{
  left: -9rem;
  bottom: -38%;
  max-width: 22.3rem;
  width: 100%;
  position: absolute;
  z-index: 1;
    @include media-breakpoint-down(lg){
      max-width: 19.3rem;
      left: -6.9rem;
      bottom: -29%;
    }
    @include media-breakpoint-down(md){
      max-width: 15.3rem;
      left: -6.9rem;
      bottom: -24%;
    }
    @include media-breakpoint-down(xs){
      max-width: 8.1rem;
      left: -3.7rem;
      bottom: 10%;
    }
  }
  .img-solido-blue{
    right:  -9.4rem;
    bottom: -38%;
    max-width: 22.3rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    @include media-breakpoint-down(lg){
      max-width: 19.3rem;
      right: -7.9rem;
      bottom: -29%;
    }
    @include media-breakpoint-down(md){
      max-width: 15.3rem;
      right: -7.9rem;
      bottom: -24%;
    }
    @include media-breakpoint-down(xs){
      max-width: 10.3rem;
      right: -1.9rem;
      bottom: -7%;
    }
    @include media-breakpoint-down(xs){
      max-width: 8.1rem;
      right: -3.7rem;
      bottom: 10%;
    }
  }

  .img-pimenton{
    width: 100%;
    right: 3.3rem;
    bottom: 5.9rem;
    max-width: 9.5rem;
    position: absolute;
    z-index: 1;
    @include media-breakpoint-down(lg){
      right: 3.3rem;
      bottom: 7.9rem;
      max-width: 6.5rem;
    }
    @include media-breakpoint-down(md){
      right: 1.3rem;
      bottom: 9.9rem;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }

.img-limon{
  width: 100%;
  top: 3rem;
  left: -9rem;
  max-width: 272px;
  position: absolute;
  z-index: 1;
}
.img-cebolla{
  width: 100%;
  bottom: -11rem;
  left: -20rem;
  max-width: 335px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  @include media-breakpoint-down(sm){
    display: none;
  }
}
.img-plato-atun{
  width: 100%;
  bottom: -14%;
  right: -35%;
  max-width: 500px;
  position: absolute;
}

// about
.section-box-about{
  background-image: url(../img/sections/papel2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  padding: 3% 3% 0 8%;
  max-width: 1200px;
  height: 63.5rem;
  // @include media-breakpoint-up(xl){
  //   width: 70%;
  // }
  @include media-breakpoint-down(lg){
    padding: 3% 1% 0 0%;
    max-width: 927px;
  }
  @include media-breakpoint-down(md){
    max-width: 686px;
    height: 64rem;
  }
  @include media-breakpoint-down(sm){
    height: 72rem;
  }
}
.img-bg{
  &__100peru{
    width: 100%;
    max-width: 349px;
    bottom: 6.7rem;
    left: 8rem;
    @include media-breakpoint-down(md){
      bottom: 5.7rem;
      left: 2rem;
    }
    @include media-breakpoint-down(xs){
      bottom: 8.7rem;
      left: 0.8rem;
      max-width: 253px;
    }
  }
  &__lata{

  }
  &__table-about{
    width: 35%;
    top: 0;
    left: -12rem;
    @include media-breakpoint-down(lg){
      left: -13rem;
      max-width: 29rem;
    }
    @include media-breakpoint-down(md){
      left: -10.2rem;
    }
  }
  &__solido-about{
    max-width: 22.3rem;
    width: 100%;
    top: -1%;
    right: 0%;
    @include media-breakpoint-down(lg){
      max-width: 19.3rem;
      right: -2rem;
      top: -3%;
    }
    @include media-breakpoint-down(md){
      max-width: 15.3rem;
      right: -1.6rem;
      top: -4.6%;
    }
    @include media-breakpoint-down(sm){
      top: -3.6%;
    }
    @include media-breakpoint-down(xs){
      display: none;
    }
  }
  &__plato-about{
    width: 100%;
    bottom: -19%;
    right: -10rem;
    max-width: 523px;
    @include media-breakpoint-down(lg){
      bottom: -18%;
      right: -9rem;
      max-width: 472px;
    }
    @include media-breakpoint-down(md){
      bottom: -15%;
      right: -23%;
      max-width: 414px;
    }
    @include media-breakpoint-down(sm){
      right: -9rem;
      bottom: -6rem;
      max-width: 364px;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__limon-about{
    width: 100%;
    top: 0rem;
    left: -24rem;
    max-width: 450px;
    @include media-breakpoint-down(lg){
      width: 100%;
      top: 4rem;
      left: -8rem;
      max-width: 266px;
    }
  }
  &__pimenton-about{
    width: 100%;
    bottom: -18rem;
    right: -21rem;
    max-width: 500px;
    @include media-breakpoint-down(lg){
      bottom: -12rem;
      right: -10rem;
      max-width: 386px;
    }
  }
  &__perejil-about{
    width: 100%;
    bottom: -4rem;
    left: -34rem;
    max-width: 500px;
    @include media-breakpoint-down(lg){
      width: 100%;
      bottom: 6rem;
      left: -18rem;
      max-width: 350px;
    }
  }
}


// contac
.img-bg{
  position: absolute;
  z-index: 1;

  &__salad{
    width: 30%;
    top: 4%;
    left: -15%;
  }
  &__plato{
    width: 31%;
    top: 4%;
    right: -23%;
  }
  &__table{
    width: 30%;
    top: 72%;
    left: -19%;
  }
  &__ajies{
    width: 30%;
    bottom: -9%;
    left: -22%;
    z-index: 0;
  }
  &__limon{
    width: 20%;
    top: 0%;
    right: -23%;
    z-index: 0;
  }
  @include media-breakpoint-up(xl) {
    &__limon{
      width: 30%;
      right: -39%;
    }
    &__ajies{
      width: 35%;
      bottom: -5%;
      left: -41%;
    }
  }

}
