// index
.section-info-icons{
  margin: 7rem 0rem 0rem 4rem;
  @include media-breakpoint-down(md){
    margin: 4rem 0 0 0rem;
  }
}

.fondo-row{
  background-image: url(../img/sections/papel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6% 9% 16% 4.8%;
  left: 50%;
  position: relative;
  transform: translateX(-48%);
  @include media-breakpoint-down(sm){
    width: 124%;
  }
}




