.footer, .sub-footer{
	.container{
		// max-width: 775px;
		// max-width: 1000px;
		max-width: 1110px;
	}
}

.footer{
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  bottom: 0;
  width: 100%;
	font-size: 0.675rem;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  z-index: 1;
  @include media-breakpoint-down(md){
    border-color: map-get($my-colors, color1);
  }
	ul{
		// list-style: outside;
		// margin-right: 1rem;
		color: #fff;

		a{
			color: #fff;
		}
	}

	.sm-b-dashed-right{
		border-color: #fff;
	}

	&__info{
		font-family: $TradeGothic;
		font-size: 0.675rem;
    font-weight: bold;
    span{
      // font-size: 1rem;
      font-size: 14px;
    }
  }


	&__menu{
    a{
      font-family: $TradeGothic;
      // font-size: 1.325rem;
      font-size: 15.4px;
      margin-left: 0.4rem;
      letter-spacing: 2px;
    }
    a.centro{
      // border-right: solid;
      // padding-right: 0.6rem;
    }
    // &:hover,&.active{
    //   span{
    //     color: map-get($my-colors, color3);
    //     // &::before{
    //     // 	max-width: 100%;
    //     // }
    //   }
    // }
  }


  &__logos{
    width: 100%;
    max-width: 50px;
    display: inline;
    @include media-breakpoint-down(md){
      max-width: 40px;
    }
  }

	.i-phone{
		padding-bottom: 1rem;
		transform: rotateZ(-27.5deg);
	}
}

.sub-footer{
	.copyright{
		font-family: $TradeGothic;
    font-weight: lighter;
    font-size: 1rem;
	}

	.copyright-sub, .copyright-sub:hover{
		color: #fff;
	}
}
.ul-footer{
  display: inherit;
}
.cookies{
  // display: none;
  position: fixed;
  bottom: 0rem;
  // background: rgba(158, 158, 158, 0.9294117647058824);
  background: rgba(6, 30, 72, 0.85);
  width: 100%;
  // height: 9rem;
  z-index: 999;
  &__content{
    text-align: center;
  }
  &__text{
    font-family: $TradeGothic;
  }
}
.btn-white-footer {
  border-radius: 0;
  background: #fff;
  border-color: #fff;
  color: #071f48 !important;
  margin-bottom: 1rem;
}

.img-fa{
  display: inline-block;
}

.centrar{
  &__1-footer{
    @include media-breakpoint-down(md){
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__2-footer{
    @include media-breakpoint-down(md){
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.logo{
  &__footer{
    position: relative;
    // top: -1rem;
    top: -0.5rem;
  }
}
