.footer, .sub-footer{
	.container{
		// max-width: 775px;
		max-width: 1000px;
	}
}

.footer{
	font-size: 0.675rem;

	ul{
		// list-style: outside;
		// margin-right: 1rem;
		color: #fff;

		a{
			color: #fff;
		}
	}

	.sm-b-dashed-right{
		border-color: #fff;
	}

	&__info{
		font-family: $TradeGothic;
		font-size: 0.675rem;
    font-weight: bold;
    span{
      font-size: 1rem;
    }
  }


	&__menu{
    a{
      font-family: $TradeGothic;
      font-size: 1.325rem;
      margin-left: 0.9rem;
      letter-spacing: 2px;
    }
    a.centro{
      border-right: solid;
      padding-right: 0.6rem;
    }
    // &:hover,&.active{
    //   span{
    //     color: map-get($my-colors, color3);
    //     // &::before{
    //     // 	max-width: 100%;
    //     // }
    //   }
    // }
  }




	.i-phone{
		padding-bottom: 1rem;
		transform: rotateZ(-27.5deg);
	}
}

.sub-footer{
	.copyright{
		font-family: $TradeGothic;
    font-weight: lighter;
    font-size: 1rem;
	}

	.copyright-sub, .copyright-sub:hover{
		color: #fff;
	}
}
