.section-box-home{
  background-image: url(../img/home/hoja.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 2%;
  // width: 80vw;
  width: 100%;
  /* max-width: 783px; */
  /* max-height: 400px; */
  // height: 56vh;
  text-align: center;
  position: relative;
  // left: 12%;
  @include media-breakpoint-up(lg){
    margin: 0% 10% 0% 10%;
    width: 70vw;
  }
}
.fondo-row{
  background-image: url(../img/sections/papel.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6% 11% 10% 7%;
}
.box-index{
  &__horizontal{
    // max-width: 295px;
    max-width: 82%;
  }

}
.section-box-home-blue{
  background: #071f48ed;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2%;
  // width: 50%;
}
.text-box.home{
  font-size: 1.6vh;
}
p.recetas{
  line-height: 1.6;
  font-size: large;
}

// .pc-version{
//   @include media-breakpoint-up(sm){
//     display: none;
//   }
// }
// .mobile-version{
//   @include media-breakpoint-up(md){
//     display: none;
//   }
// }

div>.section-box-home-cel{
  margin-top: 11%
}
.section-box-home-cel{
  background-image: url(../img/home/cel2.png);
    background-repeat: no-repeat;
    // background-size: 581px 336px;
    background-size: 100%;
    padding: 1.7rem 4.8rem 4.4rem 4.9rem;
    width: 100%;
    max-width: 595px;
    height: 345px;
    max-height: 354px;
    position: relative;
  /* max-height: 233px; */
  /* height: 428px; */
  @include media-breakpoint-down(md){
    max-width: 400px;
    padding: 1.2rem 3.2rem 9.9rem 3.3rem;
  }
  @include media-breakpoint-down(sm){
    max-width: 300px;
    padding: 0.9rem 2.5rem 12.8rem 2.3rem;
  }
}

.pantalla{
  // background-image: url(../img/home/pantalla.png);
  // background-repeat: no-repeat;
  // background-origin: padding-box;
  margin-top: 17%;
}
.text-pantalla{
  position: absolute;
  top: 13rem;
  cursor: pointer;
  font-size: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  @include media-breakpoint-down(md){
    top: 9rem;
    font-size: 1.3rem;
  }
  @include media-breakpoint-down(sm){
    top: 6rem;
    font-size: 1.1rem;
  }
}
.link-pantalla{
  opacity: .2;
  width: 7rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 5rem;
  cursor: pointer;
  transform: translateX(-50%);
  @include media-breakpoint-down(md){
    width: 5rem;
    top: 3rem;
  }
  @include media-breakpoint-down(sm){
    width: 3rem;
    top: 2rem;
  }
}

.img-tomate{
  width: 100%;
  top: 0;
  left: -18%;
  max-width: 500px;
  position: absolute;
  z-index: 1;
  @include media-breakpoint-up(lg){
    top: 24%;
    left: -32%;
    max-width: 550px;
  }
  @include media-breakpoint-down(lg){
    max-width: 300px;
    left: -11%;
  }
  @include media-breakpoint-down(md){
    max-width: 234px;
    left: -11%;
    top: 22%;
  }
  @include media-breakpoint-down(sm){
    max-width: 200px;
    left: -30%;
    top: 46%;
  }

}
.img-atun{
  width: 100%;
  top: 0;
  right:-18%;
  max-width: 500px;
  position: absolute;
  z-index: 1;

  @include media-breakpoint-up(lg){
    top: 24%;
    right: -32%;
    max-width: 550px;
  }
  @include media-breakpoint-down(lg){
    max-width: 300px;
    right: -11%;
  }
  @include media-breakpoint-down(md){
    max-width: 234px;
    right: -11%;
    top: 22%;
  }
  @include media-breakpoint-down(sm){
    max-width: 200px;
    right: -30%;
    top: 46%;
  }
}

.img-plato{
  width: 50%;
  top: 47%;
  left: -35%;
  position: absolute;
  z-index: 1;
}
.img-croque{
  width: 28%;
  top: -12%;
  position: absolute;
  z-index: 1;
  right: -18%;
}
.img-salad{
  width: 36%;
  top: 66%;
  right: -20%;
  position: absolute;
  z-index: 1;
}
