.box-index{
  &__horizontal{
    // max-width: 295px;
    max-width: 82%;
  }

}
.section-box-home-blue{
  background: rgba(7, 31, 72, 0.9294117647058824);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 9% 14% 0% 14%;
    max-width: 43rem;
    left: 50%;
    transform: translate(-46%);
  h4{
    letter-spacing: 0.5px;
    line-height: 1.3;
    @include media-breakpoint-down(xs){
      font-size: 21px;
    }
  }
  @include media-breakpoint-down(md){
    transform: translate(-50%);
  }
  @include media-breakpoint-down(xs){
    max-width: 19.9rem;
  }
  // width: 50%;
}
.text-box.home{
  font-size: 19.6px;
  line-height: 1.2;
  @include media-breakpoint-down(sm){
    padding: 0 6% 0 6%;
  }
  @include media-breakpoint-down(xs){
    font-size: 15.9px;
  }
}
.btn-white-home{
  border-radius: 0;
  background: #fff;
  border-color: #fff;
  color: #071f48!important;
  margin-bottom: 4rem;
    a{
      h4{
        font-size: 16px;
      }
    }
}
// .text-box.home{
//   font-size: 16px;
// }
p.recetas{
  line-height: 1.6;
  font-size: large;
}

// .pc-version{
//   @include media-breakpoint-up(sm){
//     display: none;
//   }
// }
// .mobile-version{
//   @include media-breakpoint-up(md){
//     display: none;
//   }
// }

div>.section-box-home-cel{
  margin-top: 11%;
  @include media-breakpoint-down(xs){
    margin-top: 0%;
  }
}
.section-box-home-cel{
  background-image: url(../img/home/cel2.png);
    background-repeat: no-repeat;
    // background-size: 581px 336px;
    background-size: 100%;
    padding: 1.7rem 4.8rem 4.4rem 4.9rem;
    width: 100%;
    max-width: 595px;
    height: 345px;
    // max-height: 354px;
    position: relative;
  /* max-height: 233px; */
  /* height: 428px; */
  @include media-breakpoint-down(md){
    max-width: 400px;
    padding: 1.2rem 3.2rem 1.6rem 3.3rem;
    height: 212px;
  }
  @include media-breakpoint-down(xs){
    max-width: 300px;
    padding: 0.9rem 2.5rem 1.4rem 2.3rem;
    height: 161px;
  }
}

.pantalla{
  // background-image: url(../img/home/pantalla.png);
  // background-repeat: no-repeat;
  // background-origin: padding-box;
  margin-top: 17%;
}
.text-pantalla{
  position: absolute;
  top: 13rem;
  cursor: pointer;
  font-size: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  letter-spacing: 3px;
  @include media-breakpoint-down(md){
    top: 9rem;
    font-size: 1.3rem;
  }
  @include media-breakpoint-down(sm){
    top: 6rem;
    font-size: 1.1rem;
  }
}
.link-pantalla{
  opacity: .2;
  width: 7rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 5rem;
  cursor: pointer;
  transform: translateX(-50%);
  @include media-breakpoint-down(md){
    width: 5rem;
    top: 3rem;
  }
  @include media-breakpoint-down(sm){
    width: 3rem;
    top: 2rem;
  }
}



.img-nutri{
  width: 100%;
  max-width: 734px;
  @include media-breakpoint-down(lg){
    max-width: 655px;
  }
  @include media-breakpoint-down(md){
    max-width: 551px;
  }
  @include media-breakpoint-down(sm){
    max-width: 456px;
  }
  @include media-breakpoint-down(xs){
    max-width: 308px;
    height: 136px;
  }
}

.text-box-home{
  // padding: 3% 19% 1% 22%;
}
.text-box-blue{
  padding: 6% 17% 10% 18%;
  @include media-breakpoint-down(sm){
    padding: 3% 17% 6% 10%;
  }
  @include media-breakpoint-down(xs){
    padding: 20% 2% 17% 8%;
  }
}
.text-mailing{
  font-size: 16px;
  font-weight: bold;
}
.contenedor{
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.fondo-box-img{
  position: absolute;
  width: 100%;
  height: 99%;
  top: 4px;
  display: none;
  &__1{
    background: rgba(6, 30, 72, 0.58);
  }
  &__2{
    background: rgba(221, 124, 0, 0.5411764705882353);
  }
  &__3{
    background: rgba(255, 203, 0, 0.59);;
  }
}
div.contenedor:hover{
  .fondo-box-img{
    display: block;
  }
}

