:root{
	--height-nav: 4.5rem;
}

.main{
  // background-image: url('../img/fondo02.jpg');
  background-image: url('../img/fondo-big.jpg');
  // background-size: cover;
  background-size: 100% 100%;
  // background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;

	@include media-breakpoint-up(lg) {
		// padding-top: 4.5rem;
		// padding-top: var(--height-nav);
		margin-top: var(--height-nav);
		// min-height: calc(100vh - 16.5rem);
		// min-height: calc(100vh - -10.5rem);
  }
	@include media-breakpoint-up(md) {
    // min-height: calc(100vh - -10.5rem);
    // max-height: 232rem;
  }
	@include media-breakpoint-up(sm) {
    // min-height: calc(100vh - -140rem);
  }
	@include media-breakpoint-up(xs) {
    // min-height: calc(100vh - -130rem);
  }
}
