.section-box-products {
  background-image: url(../img/sections/hoja-blog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  position: relative;
  max-width: 1041px;
  height: 33rem;
  @include media-breakpoint-down(md){
    height: 36rem;
  }
  @include media-breakpoint-down(xs){
    height: 33rem;
    top: -1.4rem
  }
}
.img-mapa{
  @include media-breakpoint-down(sm){
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 1rem;
  }
  @include media-breakpoint-down(sm){
    width: 10rem;
  }
  @include media-breakpoint-down(xs){
    left: 41%;
    transform: translateX(-50%);
    margin-top: 1rem;
    width: 8rem;
  }
}
.content_box_prod{
  @include media-breakpoint-down(sm){
    padding: 0% 7% 0% 7%;
  }
}

.img-bg{
  &__limon-pro{
    width: 20%;
    top: 9%;
    left: -10%;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__pasta-pro{
    width: 53%;
    top: -4%;
    right: -37%;
    // max-width: 34rem;
    @include media-breakpoint-down(lg){
      // max-width: 525px;
      right: -31%;
    }
    @include media-breakpoint-down(md){
      // max-width: 439px;
      right: -38%;
    }
    @include media-breakpoint-down(sm){
      right: -30%;
      top: 72%;
    }
    @include media-breakpoint-down(xs){
      right: -30%;
      top: 79%;
      width: 64%;
    }
    @media(max-width: 570px){
      top: 69%;
    }
    @media(max-width: 380px){
      top: 80%;
      width: 72%;
    }
  }
  &__ceviche-pro{
    width: 51%;
    bottom: -28%;
    left: -31%;
    @include media-breakpoint-down(lg){
      width: 50%;
      // bottom: -4rem;
    }
    @include media-breakpoint-down(md){
      bottom: -14%;
      left: -27%;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__cebolla-pro{
    width: 45%;
    top: 43%;
    left: -56%;
  }
  &__palta-pro{
    width: 67%;
    top: 66%;
    right: -66%;
    @include media-breakpoint-down(xs){
      display: none;
    }
  }
  &__tomate-pro{
    width: 45%;
    top: 19%;
    left: -54%;
  }
}
.slider-product{
  &__img{
    width: 100%;
    max-width: 327px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    @include media-breakpoint-down(sm){
      max-width: 280px;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
  &__img-content{
    height: 224px;
    @include media-breakpoint-down(md){
      height: 216px;
    }
    @include media-breakpoint-down(sm){
      padding-top: 1rem;
    }
  }
  &__text-content{
    height: 224px;
    @include media-breakpoint-down(md){
      height: 164px;
    }
    @include media-breakpoint-down(xs){
      height: 184px;
      padding: 0 0.5rem 0 0.7rem;
    }
  }
  &__text{
    padding-top: 1.2rem;
    padding-right: 2rem;
    @include media-breakpoint-down(xs){
      padding-right: 0rem;
    }
  }
  &__nav{
    padding: .5rem 0.2rem;
    @include media-breakpoint-down(lg){
      padding: .5rem 0.5rem;
    }
    @include media-breakpoint-down(sm){
      padding: .5rem 0.3rem;
    }
    @include media-breakpoint-down(sm){
      padding: 0.2rem 0.1rem;
    }
  }
  &__next{
    right: -4%;
    @include media-breakpoint-down(xs){
      right: -13%;
    }
  }
  &__prev{
    left: -7%;
    @include media-breakpoint-down(xs){
      left: -14%;
    }
  }
}
.content-btn-pro{
  @include media-breakpoint-up(md){
    padding-left: 2rem;
  }
}
.btn-product{
  &__contenedor-pre{
    background: map-get($my-colors, color1 );
    color: #fff;
    padding: 0.6rem 1% 2% 20%;
    border-radius: 8px;
    font-family: $TradeGothic;
    transition: transform 1s;
    width: 100%;
    height: 3.6rem;
    position: relative;
    text-align: left;
    h4{
      margin: 0;
      font-size: 16.6px;
      font-weight: bold;
    }
    p{
      font-size: 12px;
      -webkit-text-stroke: 0px;
    }
  }
  &__contenedor{
    background: map-get($my-colors, color1 );
    color: #fff;
    padding: 1rem 1% 2% 20%;
    border-radius: 8px;
    font-family: $TradeGothic;
    transition: transform 1s;
    width: 100%;
    height: 3.6rem;
    position: relative;
    text-align: left;
    h4{
      margin: 0;
      font-size: 16.6px;
      font-weight: bold;
    }
    p{
      font-size: 12px;
      -webkit-text-stroke: 0px;
    }
  }
  // &__text-a{
  //   @include media-breakpoint-up(md){
  //     position: absolute;
  //     top: calc(50% - -18px);
  //   }
  // }
  // &__text{
  //   @include media-breakpoint-up(md){
  //     position: absolute;
  //     top: calc(50% - 10px);
  //   }
  // }
  &__fa{
    float: right;
    right: 0.7rem;
    position: relative;
  }
  &__cont-img{
    position: absolute;
    top: 9%;
    width: 3.9rem;
    left: -11%;
  }
  &__cont-img-1{
    position: absolute;
    top: 5%;
    width: 5.5rem;
    left: -16%;
    @include media-breakpoint-down(lg){
      width: 4.5rem;
      left: -12%;
    }
  }
  &__cont-img-2{
    position: absolute;
    top: 5%;
    width: 4.5rem;
    left: -16%;
    @include media-breakpoint-down(lg){
      width: 4rem;
      left: -9%;
    }
  }
}
.logo-blue-box-product{
  display: inline;
  width: 4.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding-bottom: 0.2rem;
  @include media-breakpoint-down(xs){
    width: 4.2rem;
    margin-right: 2%;
    margin-left: 1%;
    position: relative;
    bottom: 0;
  }
}
.text-box-product {
  padding: 3% 19% 0% 15%;
  @include media-breakpoint-down(xs){
    padding: 3% 19% 0 7%;
  }
}
.img-llevamos {
  width: 100%;
  height: 0%;
  max-width: 41rem;
  position: relative;
  top: -3rem;
  @include media-breakpoint-down(lg){
    max-width: 40.5rem;
  }
  @include media-breakpoint-down(md){
    max-width: 31.5rem;
    top: -2rem;
  }
  @include media-breakpoint-down(xs){
    margin: 1.5rem;
  }

}
.img-icon-prev{
  background-image: url(../../img/sections/arrow-left.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  top: 20%;
  right: -1%;
  z-index: 2!important;
  // display: inline-block;
}
.img-icon-next{
  background-image: url(../../img/sections/arrow-right.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  top: 20%;
  right: -1%;
  z-index: 2!important;
  // display: inline-block;
}
.section-product{
  padding: 3% 20% 0 24%;
  @include media-breakpoint-down(lg){
    padding: 3% 14% 0 13%;
  }
  @include media-breakpoint-down(md){
    padding: 0% 3% 0 4%;
  }
}
.box-product{
  position: relative;
    top: -2rem;
    left: 1rem;
    &__img{
      position: absolute;
      top: -2rem;
    }
}
.table{
  tr{
    td{
      border-color: #fff;
      padding: 0;
    }
    th{
      border-color: #fff;
      padding: 0;
    }
  }
  &__title{
    font-size: 12px;
    -webkit-text-stroke: 0.2px;
  }
  &__body{
    font-size: 13px;
    -webkit-text-stroke: 0.3px;
  }
  &__ingredientes{
    width: 80%;
    left: 50%;
    position: relative;
    transform: translateX(-36%);
    @include media-breakpoint-down(xs){
      width: 100%;
      transform: translateX(-32%);
    }

    tr{
      // margin-top: .5rem;
      display: block;
      width: 100%;
      margin-bottom: 1rem;

      td{
        width: 100%;
        display: block;
      }

      .box-img{
        max-width: 40px;
        width: 100%;
        text-align: center;
        display: inline-block;
      }

      img{
        display: inline-block;
      }
      span{
        margin-left: .65rem;
      }
    }
  }
}
.th{
  &__g{
    @include media-breakpoint-up(md){
      min-width: 2.7rem;
      position: relative;
      // bottom: -0.7rem;
      padding-bottom: 0.6rem;
    }
    // /* ----------- iPhone 6+, 7+ and 8+ ----------- */

    //   /* Portrait and Landscape */
    // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    //   text-align: right !important;

    // }

    // /* Portrait */
    // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    //   text-align: right !important;
    // }

    // /* Landscape */
    // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    //   text-align: right !important;
    // }
  }
  &__valor{
    @include media-breakpoint-up(md){
      max-width: 2.6rem;
      padding-bottom: 0.6rem;
    }
  }
}

.nav_slides, .nav_slides2, .nav_slides_ab{
  color: map-get($my-colors, color1 );
  .slick-list{
    overflow: none!important;
    .slick-track{
      transform:none!important;
      margin: 0;
      width: 100%!important;
    }
  }
}
.nav-item, .nav-item2, .nav_slides_ab{
  font-family: $TradeGothic;
  // display: contents!important;
  width: auto!important;
  padding: 0.1rem 0 0.2rem 0!important;

}
.nav-item, .nav-item2{
  @include media-breakpoint-down(sm){
    line-height: 1.1;
  }
}
.nav-item.slick-active{
  font-weight: bold;
}
.nav-item2.slick-active{
  font-weight: bold;
}
.nav-item-ab.slick-active{
  font-weight: bold;
}
.nav-item-ab{
  width: auto!important;
  @include media-breakpoint-down(sm){
    // padding: 0;
    font-size: 15px;
  }
}
.nav_slides{
  @include media-breakpoint-down(xs){
    height: 67px;
  }
}
.slide-product{
  .slick-arrow{
      top: 7rem;
    @include media-breakpoint-down(sm){
      top: 8rem;
    }
  }
}
.slide-product2{
  .slick-arrow{
      top: 7rem;
    @include media-breakpoint-down(sm){
      top: 8rem;
    }
  }
}
