.section-box-products {
  background-image: url(../img/sections/hoja-blog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 100%;
  position: relative;
  max-width: 1266px;
}
.img-mapa{
  @include media-breakpoint-down(sm){
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 1rem;
  }
}
.content_box_prod{
  @include media-breakpoint-down(sm){
    padding: 0% 7% 0% 7%;
  }
}
.img-bg{
  &__limon-pro{
    width: 24%;
    top: 13%;
    left: -13%;
  }
  &__pasta-pro{
    width: 100%;
    top: 3rem;
    right: -28%;
    max-width: 600px;
    @include media-breakpoint-down(lg){
      max-width: 525px;
      right: -31%;
    }
    @include media-breakpoint-down(md){
      max-width: 439px;
      right: -38%;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__ceviche-pro{
    width: 100%;
    bottom: -19%;
    left: -18%;
    max-width: 512px;
    @include media-breakpoint-up(lg){
      width: 100%;
      bottom: -29%;
      left: -22%;
      max-width: 512px;
    }
    @include media-breakpoint-down(lg){
      max-width: 361px;
      left: -9rem;
      bottom: -4rem;
    }
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  &__cebolla-pro{
    width: 30%;
    top: 44%;
    left: -29%;
  }
  &__palta-pro{
    width: 53%;
    top: 50%;
    right: -42%;
  }
  &__tomate-pro{
    width: 31%;
    top: 29%;
    left: -32%;
  }
}
.slider-product{
  &__img{
    width: 100%;
    max-width: 327px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  &__text{
    padding-top: 1.2rem;
    padding-right: 2rem;
  }
}

.btn-product{
  &__contenedor{
    background: map-get($my-colors, color1 );
    color: #fff;
    padding: 2% 1% 2% 20%;
    border-radius: 8px;
    font-family: $TradeGothic;
    transition: transform 1s;
    width: 100%;
    height: 3.6rem;
    position: relative;
    text-align: left;
    h4{
      margin: 0;
    }
  }
  &__fa{
    float: right;
    top: 0.5rem;
    position: relative;
  }
  &__cont-img{
    position: absolute;
    top: 9%;
    width: 3.6rem;
    left: -7%;
  }
  &__cont-img-1{
    position: absolute;
    top: 5%;
    width: 5.5rem;
    left: -16%;
    @include media-breakpoint-down(lg){
      width: 4.5rem;
      left: -7%;
    }
  }
}
.logo-blue-box-product{
  display: inline;
  width: 5.4rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding-bottom: 0.2rem;
}
.text-box-product {
  padding: 3% 19% 0% 15%;
}
.img-llevamos {
  width: 100%;
  height: 0%;
  max-width: 52rem;
  @include media-breakpoint-down(lg){
    max-width: 40.5rem;
  }
  @include media-breakpoint-down(md){
    max-width: 31.5rem;
  }

}
.img-icon-prev{
  background-image: url(../../img/sections/arrow-left.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  top: 20%;
  right: -1%;
  z-index: 2!important;
  // display: inline-block;
}
.img-icon-next{
  background-image: url(../../img/sections/arrow-right.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  top: 20%;
  right: -1%;
  z-index: 2!important;
  // display: inline-block;
}
.section-product{
  padding: 3% 14% 0 18%;
  @include media-breakpoint-down(lg){
    padding: 3% 14% 0 13%;
  }
  @include media-breakpoint-down(md){
    padding: 0% 3% 0 4%;
  }
}
