.recipes-sec{
  margin-top: 10rem;
}
.section-box-recipes {
  background-image: url(../img/sections/hoja-blog.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  // padding: 2%;
  width: 100%;
  // height: 53vh;
  text-align: center;
  position: relative;
  max-width: 1246px;
  // left: 14%;
  @include media-breakpoint-down(lg){
    // width: 90%
  }
  @include media-breakpoint-down(md){
    // width: 100%
  }
}
.text-box-recipes {
  padding: 0% 0% 0 3.5%;
}
.img-text-rec{
  width: 100%;
  height: 0%;
  max-width: 52rem;
  @include media-breakpoint-down(lg){
    max-width: 38rem;
  }
  @include media-breakpoint-down(md){
    max-width: 34rem;
  }
  @include media-breakpoint-down(sm){
    max-width: 30rem;
  }
  @include media-breakpoint-down(xs){
    max-width: 24rem;
  }
}
.content-box-rec{

  @include media-breakpoint-down(sm){
    padding: 0% 6% 0% 6%;
  }
}
.img-bg{
  &__cebolla-rec{
    width: 16%;
    top: -4%;
    left: -7%;
    @include media-breakpoint-down(md){
      top: 21%;
    }
  }
  &__plato-rec{
    width: 100%;
    bottom: -45%;
    left: -20%;
    max-width: 467px;
    @include media-breakpoint-down(lg){
      width: 100%;
      bottom: -29%;
      left: -12%;
      max-width: 305px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      bottom: -41%;
      left: -11rem;
      max-width: 305px;
    }
    @include media-breakpoint-down(sm){
      max-width: 268px;
    }
  }
  &__salad-rec{
    width: 37%;
    top: -115px;
    right: -24%;
    @include media-breakpoint-down(md){
      width: 40%;
    }
  }
  &__lata-rec{
    width: 24%;
    bottom: -35%;
    right: 20%;
    @include media-breakpoint-down(md){
      width: 24%;
      bottom: -4rem;
      right: 22rem;
    }
    @include media-breakpoint-down(sm){
      width: 24%;
      bottom: -4rem;
      right: 37%;
    }
  }
  &__limon-rec{
    width: 18%;
    bottom: -28%;
    right: 3%;
    @include media-breakpoint-down(md){
      width: 24%;
      bottom: -7rem;
      right: 7rem;
    }
    @include media-breakpoint-down(sm){
      width: 24%;
      bottom: -5rem;
      right: 4rem;
    }
  }
  &__tomate-rec{
    width: 18%;
    bottom: 0vh;
    left: -4%;
  }
  &__tomate-rec2{
    width: 18%;
    top: 50vh;
    left: -3vw;
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  &__palta-rec{
    width: 18%;
    bottom: 6vh;
    left: -5vw;
  }
  &__tenedor-rec{
    width: 100%;
    top: 26vh;
    right: -19rem;
    max-width: 664px;
    @include media-breakpoint-down(lg){
      bottom: -5rem;
      right: -13rem;
      max-width: 500px;
    }
    @include media-breakpoint-down(md){
      bottom: -5rem;
      right: -13rem;
      max-width: 408px
    }
  }
  &__tomate2-rec{
    width: 16%;
    bottom: 16vh;
    right: -13vh;
  }
}
// .fondo-box-img{
//   position: absolute;
//   width: 100%;
//   height: 99%;
//   top: 4px;
//   display: none;
//   &__1{
//     background: rgba(6, 30, 72, 0.58);
//   }
//   &__2{
//     background: rgba(221, 124, 0, 0.5411764705882353);
//   }
//   &__3{
//     background: rgba(255, 203, 0, 0.59);;
//   }
// }
div.recipes-grid__content:hover{
  .fondo-box-img{
    display: block;
  }
}
.recipes-grid{
  &__content{
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  &__img-vertical{
    width: 100%;
  }
  &__img-horizontal{
    width: 89.7%;
  }
  &__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $TradeGothic;
    color: #fff;
    letter-spacing: 4px;
  }
  &__text-horizontal{
    position: absolute;
    top: 35%;
    left: 44%;
    transform: translateX(-50%);
    font-family: $TradeGothic;
    color: #fff;
    letter-spacing: 4px;
  }
}

.btn-recipes{
  &__contenedor {
    background: #061e48;
    color: #fff;
    padding: 2% 1% 2% 20%;
    border-radius: 8px;
    font-family: Trade Gothic LT Std,sans-serif;
    width: 100%;
    height: 3.1rem;
    position: relative;
    text-align: left;
    p {
      padding-left: 1rem;
    }
  }
  &__fa{
    float: right;
    position: absolute;
    right: 5%;
  }
  &__cont-img{
    position: absolute;
    top: 9%;
    width: 3.6rem;
    left: -7%;
  }
}
.hr-recipes{
  border-top: 4px solid #061e488f;
  width: 90%;
}
.ul-recipes{
  list-style: unset;
}
.card-recipes{
  padding-left: 2.7rem;
}
.img-icon-tabs{
  width: 4rem;
}
.img-icon-up{
  top: 17%;
  position: absolute;
  right: 0;
  width: 1.5rem;
}
.recipes{
  &__img{
    max-width: 428px;
    width: 100%;
    height: 100%;
    border: 1px solid #9E9E9E;
  }

}
